<header
		[class.hasMenu]="this.hasMenu || this.downTitle"
		[class.numberOfItems-1]="this.statusCount === 1"
		[class.numberOfItems-2]="this.statusCount === 2"
		[class.numberOfItems-3]="this.statusCount === 3"
		[class.numberOfItems-4]="this.statusCount === 4"
		[class.numberOfItems-5]="this.statusCount === 5"
		[class.numberOfItems-6]="this.statusCount === 6"
		[class.numberOfItems-7]="this.statusCount === 7"
		[class.numberOfItems-8]="this.statusCount === 8"
>
	<section menu *ngIf="this.hasMenu || this.downTitle">
		<ng-container *ngIf="this.downTitle; else menu">
			<i class="material-icons"
					(click)="this.doUp();"
			>arrow_back</i>
		</ng-container>
		<ng-template #menu>
			<i class="material-icons"
					(click)="this.doToggleMenu();"
			>menu</i>
		</ng-template>
	</section>

	<section title>
		<ng-container *ngIf="this.downTitle; else titleheader">
			<h1>{{this.downTitle}}</h1>
			<h2 *ngIf="this.title">{{this.title}}</h2>
		</ng-container>
		<ng-template #titleheader>
			<h1 *ngIf="this.title">{{this.title}}</h1>
			<h2 *ngIf="this.subtitle">{{this.subtitle}}</h2>
		</ng-template>
	</section>

	<section status *ngIf="this.statusCount > 0"
			[class.numberOfItems-1]="this.statusCount === 1"
			[class.numberOfItems-2]="this.statusCount === 2"
			[class.numberOfItems-3]="this.statusCount === 3"
			[class.numberOfItems-4]="this.statusCount === 4"
			[class.numberOfItems-5]="this.statusCount === 5"
			[class.numberOfItems-6]="this.statusCount === 6"
			[class.numberOfItems-7]="this.statusCount === 7"
			[class.numberOfItems-8]="this.statusCount === 8"
	>
		<ng-content select="[commons-toolbar-status]"></ng-content>
		<ng-content select="commons-toolbar-signal-strength"></ng-content>
		<commons-overflow-icon></commons-overflow-icon>
	</section>

<!-- 	<ng-container *ngIf="this.downTitle; else menu"> -->
<!-- 		<i class="material-icons" -->
<!-- 				(click)="this.doUp();" -->
<!-- 		>arrow_back</i> -->
<!-- 	</ng-container> -->
<!-- 	<ng-template #menu> -->
<!-- 		<i class="material-icons" -->
<!-- 				(click)="this.doToggleMenu();" -->
<!-- 		>menu</i> -->
<!-- 	</ng-template> -->
<!-- 	<div class="status"> -->
<!-- 		<ng-content select="[commons-toolbar-status]"></ng-content> -->
<!-- 		<ng-content select="commons-toolbar-signal-strength"></ng-content> -->
<!-- 		<commons-overflow-icon></commons-overflow-icon> -->
<!-- 	</div> -->
<!-- 	<ng-container *ngIf="this.downTitle; else titleheader"> -->
<!-- 		<h1>{{this.downTitle}}</h1> -->
<!-- 		<h2>{{this.title}}</h2> -->
<!-- 	</ng-container> -->
<!-- 	<ng-template #titleheader> -->
<!-- 		<h1>{{this.title}}</h1> -->
<!-- 		<h2 *ngIf="this.subtitle">{{this.subtitle}}</h2> -->
<!-- 	</ng-template> -->
</header>