@charset 'utf-8';

@import (less) '../../less/common/palette.less';
@import (less) '../../less/sizes.less';
@import (less) '../../less/common/fonts.less';
@import (less) '../../less/common/layout.less';

@title--top: 18px;

@icons__menu--width: 64px;
@icons__menu--height: 64px;
@icons__status--width: 24px;
@icons__status--gap: 13px;
@icons__status--right: 20px;

header {
	position: fixed;
	top: 0;
	left: 0;

	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr;
	
	&.hasMenu {
		grid-template-columns: @icons__menu--width 1fr;
	}
	
	box-sizing: border-box;
	
	margin: 0;
	
	width: 100%;
	height: @md_size_toolbar--height;
	white-space: nowrap;
	overflow: hidden;
	
	each(@md_themes, {
		:host-context(body.theme-@{value}) & {
			background-color: ~"@{theme-@{value}_primary}";
			color: ~"@{theme-@{value}_primary--text}";
			box-shadow: 0px 0 10px 0 ~"@{md_theme-@{value}_shadow}";
		}
	});

	z-index: @md_elevation_fixed;
}

section[title] {
	overflow: hidden;
	
	padding-left: ((@icons__menu--width - @icons__status--width) / 2);
	
	header.hasMenu & {
		padding-left: 0;
	}

}

section[menu] {
	display: flex;
	box-sizing: border-box;
	
	justify-content: center;
	align-items: center;
	
	width: 100%;
	height: 100%;
}

section[status] {
	display: block;
	box-sizing: border-box;
	padding-right: @icons__status--right;
	margin-top: @title--top + 1;
	
	width: 100%;
	height: 100%;
}

.generate-item-sizes(@n, @i: 0) when (@i < @n) {
	header.numberOfItems-@{i} {
		grid-template-columns: 1fr (@icons__status--right + ((@icons__status--width + @icons__status--gap) * @i));
	}
	header.numberOfItems-@{i}.hasMenu {
		grid-template-columns: @icons__menu--width 1fr (@icons__status--right + ((@icons__status--width + @icons__status--gap) * @i));
	}

	section[status].numberOfItems-@{i} {
		grid-template-columns: repeat(@i, (@icons__status--width + @icons__status--gap));
	}

	.generate-item-sizes(@n, (@i + 1));
}
.generate-item-sizes(12);

h1,
h2 {
	font-family: @md_font_family;
}

h1 {
	margin: @title--top 0 0 0;

	font-weight: @md_font_title--weight;
	font-size: @md_font_title--size;
}

h2 {
	margin: -2px 0 0 0;

	font-weight: @md_font_caption--weight;
	font-size: @md_font_caption--size;
}
