@charset 'utf-8';

@import (less) '../../less/common/palette.less';
@import (less) '../../less/common/fonts.less';
@import (less) '../../less/common/sizes.less';
@import (less) '../../less/sizes.less';

@height: 64px;	/* just a nice figure, not MD specific */
@title--top: 21px;

:host {
	/* this is actually a clever inline method (only section is fixed) to add subsequent padding and push the page content down. */
	display: block;
	width: 100%;
	height: @height + (@md_size_icon--diameter / 2);
	margin: 0;
	padding: 0;
}

section {
	position: fixed;
	top: @md_size_toolbar--height;
	left: 0;
	right: 0;
	width: 100%;
	height: @height;
	
	z-index: 100;

	each(@md_themes, {
		body.theme-@{value} :host & {
			box-shadow: 0 6px 10px -5px ~"@{md_theme-@{value}_modal--background}";
			background-color: ~"@{theme-@{value}_primary}";
			color: ~"@{theme-@{value}_primary--text}";
		}
	});
}

p {
	position: absolute;
	bottom: 15px;
	left: 0;
	
	display: block;
	margin: 0 0 0 (20px + @md_size_icon--diameter + 15px);
	padding: 0;
	box-sizing: border-box;
	
	font-family: @md_font_family;
	font-weight: @md_font_headline--weight;
	font-size: @md_font_headline--size;
	line-height: @md_font_headline--size;
}

button {
	z-index: 110;
	position: fixed;
	cursor: pointer;
	
	top: @md_size_toolbar--height + @height - (@md_size_icon--diameter / 2) - @md_size_icon--margin;
	left: 20px - @md_size_icon--margin;
}
