@charset 'utf-8';

@import (less) '../../less/common/palette.less';
@import (less) '../../less/common/fonts.less';
@import (less) '../../less/common/sizes.less';

@height: 36px;
@margin: 4px;

:host {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	font-family: @md_font_family;
	font-size: @md_font_subheading--size;
	line-height: @md_font_subheading--size;
	font-weight: 500;
	text-transform: uppercase;
	
	display: inline-grid;
	align-items: center;
	align-content: center;
	box-sizing: border-box;
	padding: 0 16px;
	height: @height;
	min-width: 64px;
	
	border: 0;
	border-radius: 4px;
	
	margin: @margin;
	
	outline: none;	/* remove the click outline */
	
	&.icon {
		width: @md_size_icon--diameter;
		height: @md_size_icon--diameter;
		border-radius: (@md_size_icon--diameter / 2);
		padding: 0;
		min-width: 0;
		margin: @md_size_icon--margin;
	}
	&.icon.small {
		width: @md_size_icon--diameter--small;
		height: @md_size_icon--diameter--small;
		border-radius: (@md_size_icon--diameter--small / 2);
	}
	&.icon.huge {
		width: @md_size_icon--diameter--huge;
		height: @md_size_icon--diameter--huge;
		border-radius: (@md_size_icon--diameter--huge / 2);
	}
}
	
each(@md_themes, {
	:host-context(body.theme-@{value}.theme-light) {
		background-color: ~"@{md_theme-@{value}_body--background--greyscale}";
		color: ~"@{theme-@{value}_primary}";

		&:active {
			background-color: ~"@{md_theme-@{value}_body--background--greyscale}";
			color: ~"@{theme-@{value}_secondary--light}";
		}

		&.raised {
			background-color: ~"@{theme-@{value}_body--background}";
			color: ~"@{md_theme-@{value}_body--text}";
			
			&:active {
				background-color: ~"@{theme-@{value}_body--background}";
				color: ~"@{theme-@{value}_secondary}";
			}
		}
		
		&.filled {
			background-color: ~"@{theme-@{value}_primary}";
			color: ~"@{theme-@{value}_primary--text}";
			
			&:active {
				background-color: ~"@{theme-@{value}_secondary}";
				color: ~"@{theme-@{value}_secondary--text}";
			}
			
			&.secondary {
				background-color: ~"@{theme-@{value}_secondary}";
				color: ~"@{theme-@{value}_secondary--text}";
			}
	
			&:disabled {
				background-color: ~"@{md_theme-@{value}_body--background--greyscale}";
				color: ~"@{md_theme-@{value}_disabled}";
			}
		}
	
		&.raised, &.filled {
			box-shadow: 0.7px 1px 5px -0.3px ~"@{md_theme-@{value}_shadow}";
		}
		
		&.transparent {
			background-color: none;
		}

		&:disabled {
			background-color: ~"@{md_theme-@{value}_body--background--greyscale}";
			color: ~"@{md_theme-@{value}_disabled}";
			
			box-shadow: none;
			
			&.transparent {
				background-color: none;
			}
		}
		
		&.icon.filled:disabled {
			box-shadow: 0.7px 1px 5px -0.3px ~"@{md_theme-@{value}_shadow}";
		}
	}
			
	:host-context(body.theme-@{value}.theme-dark) {
		background-color: ~"@{md_theme-@{value}_body--background--greyscale--invert}";
		color: ~"@{theme-@{value}_primary}";

		&:active {
			background-color: ~"@{md_theme-@{value}_body--background--greyscale--invert}";
			color: ~"@{theme-@{value}_secondary--dark}";
		}

		&.raised {
			background-color: ~"@{md_theme-@{value}_body--background--greyscale--invert}";
			color: ~"@{md_theme-@{value}_body--text--invert}";
			
			&:active {
				background-color: ~"@{md_theme-@{value}_body--background--greyscale--invert}";
				color: ~"@{theme-@{value}_secondary}";
			}
		}
		
		&.filled {
			background-color: ~"@{theme-@{value}_primary}";
			color: ~"@{theme-@{value}_primary--text}";
			
			&:active {
				background-color: ~"@{theme-@{value}_secondary}";
				color: ~"@{theme-@{value}_secondary--text}";
			}
			
			&.secondary {
				background-color: ~"@{theme-@{value}_secondary}";
				color: ~"@{theme-@{value}_secondary--text}";
			}
	
			&:disabled {
				background-color: ~"@{md_theme-@{value}_body--background--greyscale--invert}";
				color: ~"@{md_theme-@{value}_disabled}";
			}
		}
	
		&.raised, &.filled {
			box-shadow: -0.7px -1px 5px -0.3px ~"@{md_theme-@{value}_shadow--dark}";
		}
	
		&.transparent {
			background-color: none;
		}
		
		&:disabled {
			background-color: ~"@{md_theme-@{value}_body--background--greyscale--invert}";
			color: ~"@{md_theme-@{value}_disabled}";
			
			box-shadow: none;
			
			&.transparent {
				background-color: none;
			}
		}
		
		&.icon.filled:disabled {
			box-shadow: -0.7px -1px 5px -0.3px ~"@{md_theme-@{value}_shadow--dark}";
		}
	}
});
