<section container
		[class.short]="this.short"
>
	<section day>
		<commons-cylinder-picker class="center"
				[items]="this.days"
				[(item)]="this.day"
				(itemChange)="this.doTrigger();"
				(onInfinitePrev)="this.doWrapPrevMonth();"
				(onInfiniteNext)="this.doWrapNextMonth();"
		></commons-cylinder-picker>
	</section>
	<aside>/</aside>
	<section month
		[class.short]="this.short"
	>
		<commons-cylinder-picker class="center"
				[items]="this.months"
				[(item)]="this.month"
				(itemChange)="this.doTrigger();"
				(onInfinitePrev)="this.doWrapPrevYear();"
				(onInfiniteNext)="this.doWrapNextYear();"
		></commons-cylinder-picker>
	</section>
	<aside>/</aside>
	<section year
		[class.short]="this.short"
	>
		<commons-cylinder-picker class="center"
				[items]="this.years"
				[(item)]="this.year"
				(itemChange)="this.doTrigger();"
		></commons-cylinder-picker>
	</section>
</section>