@charset 'utf-8';

@import (less) '../../less/common/fonts.less';
@import (less) '../../less/common/palette.less';
@import (less) '../../less/sizes.less';

section {
	display: block;
	box-sizing: border-box;
	font-size: 0;
	
	&[container] {
		width: @md_size_cylinder-picker-date--width;
		
		&.short {
			width: @md_size_cylinder-picker-date--width--short;
		}
	}
	
	&[day], &[month], &[year] {
		display: inline-block;
	}
	&[day] {
		width: @md_size_cylinder-picker-date-day--width;
	}
	&[month] {
		width: @md_size_cylinder-picker-date-month--width;
		
		&.short {
			width: @md_size_cylinder-picker-date-month--width--short;
		}
	}
	&[year] {
		width: @md_size_cylinder-picker-date-year--width;
		
		&.short {
			width: @md_size_cylinder-picker-date-year--width--short;
		}
	}
}

aside {
	display: inline-block;
	box-sizing: border-box;
	font-size: 12px;
	text-align: center;
	
	overflow: hidden;
	
	margin: 0;
	padding: @md_size_cylinder-picker-separator--padding 0 0 0;
	width: @md_size_cylinder-picker-separator--width;
	height: @md_size_cylinder-picker--height;

	font-family: @md_font_family;
	line-height: @md_font_headline--size * @md_text--lineheight;
	font-weight: @md_font_headline--weight;
	font-size: @md_font_headline--size;
}
