@import (less) '../../less/common/fonts.less';
@import (less) '../../less/common/palette.less';

@hard-vertical-padding: 6px;
@fluid-vertical-padding: 52px - (@hard-vertical-padding * 2);

:host {
	display: block;
	
	font-family: @md_font_family;
	font-weight: @md_font_body1--weight;
	font-size: @md_font_body1--size;
	line-height: @md_font_body1--size;
}

section[container] {
	width: 100%;
	box-sizing: content-box;
	padding: @hard-vertical-padding 0;
	
	display: grid;
	grid-template-columns: 1fr auto auto auto auto auto auto;
	grid-template-rows: @fluid-vertical-padding;
	align-items: center;
	
	@media only screen and (max-width: 619px) {
		grid-template-columns: 1fr auto auto auto auto auto;
	}
	
	span[rows] {
		display: grid;
		grid-template-columns: auto 100px;
		grid-template-rows: 1fr;
		grid-column-gap: 8px;
		align-items: center;
		padding: @hard-vertical-padding 16px;
		box-sizing: border-box;
		
		commons-textbox {
			position: relative;
			top: 3px;
		}

		@media only screen and (max-width: 419px) {
			grid-template-columns: 100px;
			
			label {
				display: none;
			}
		}
	}
	
	span[pagination] {
		display: block;
		box-sizing: border-box;
		padding: 0 16px;

		@media only screen and (max-width: 619px) {
			display: none;
		}
	}
}
	
i.material-icons {
	box-sizing: border-box;
	padding: 0 16px;
	cursor: pointer;

	@media only screen and (max-width: 619px) {
		padding-left: 0;
		
		&.first {
			padding-left: 16px;
		}
	}
	@media only screen and (max-width: 419px) {
		&.first {
			padding-left: 0;
		}
	}

	each(@md_themes, {
		:host-context(body.theme-@{value}) & {
			&.disabled {
				color: ~"@{md_theme-@{value}_disabled}";
				cursor: initial;
			}
		}
	});
}
