<commons-drawer
		[name]="'_selector'"
		[direction]="ECommonsDrawerDirection.BOTTOM"
>
	<section class="max-two-thirds-height">
		<commons-inline-menu *ngIf="this.show"
				class="selector"
				[name]="'_selector'"
		>
			<commons-inline-menu-item *ngIf="this.allowNone"
					[menu]="'_selector'"
					[autoClose]="false"
					(click)="this.doSelect(undefined);"
			><i class="material-icons"
					[class.visible]="this.value === '' || this.value === undefined"
			>check</i><span class="none">(none)</span></commons-inline-menu-item>
			<commons-inline-menu-item *ngFor="let option of this.options"
					[menu]="'_selector'"
					[autoClose]="false"
					(click)="this.doSelect(option);"
			><i class="material-icons"
					[class.visible]="this.value === option"
			>check</i>{{option}}</commons-inline-menu-item>
		</commons-inline-menu>
	</section>
</commons-drawer>
