@charset 'utf-8';

@import (less) '../../less/common/palette.less';

section {
	width: 100vw;
}

ul {
	width: 100%;
}

i {
	opacity: 0;
	
	&.visible {
		opacity: 1;
	}
}

span.none {
	each(@md_themes, {
		:host-context(body.theme-@{value}) & {
			color: ~"@{md_theme-@{value}_subtle}";
		}
	});
}

.max-two-thirds-height {
	max-height: 66vh;
	overflow-y: auto;
}
