<commons-drawer
		[name]="'_drawermenu'"
		[direction]="ECommonsDrawerDirection.LEFT"
>
	<section>
		<menu>
			<commons-menu><ng-content></ng-content></commons-menu>
		</menu>
	</section>
</commons-drawer>
