@charset 'utf-8';

@import (less) '../../less/common/palette.less';
@import (less) '../../less/common/fonts.less';

@item--height: 40px;
@max--items: 8;	/* this has been chosen arbitarily */

menu {
	border: 0;
	border-radius: 2px;
	
	z-index: 4000;
	
	padding: 10px 0;
	margin: 4px;
	
	each(@md_themes, {
		:host-context(body.theme-@{value}.theme-light) & {
			@color-light: "md_theme-@{value}_body--background--greyscale--invert";
			box-shadow: 0.7px 1px 5px -0.3px fade(@@color-light, 50%);
			
			background-color: ~"@{md_theme-@{value}_body--background--greyscale}";
		}
		:host-context(body.theme-@{value}.theme-dark) & {
			@color-dark: "md_theme-@{value}_body--background--greyscale";
			box-shadow: -0.7px -1px 5px -0.3px fade(@@color-dark, 50%);
			
			background-color: ~"@{md_theme-@{value}_body--background--greyscale--invert}";
		}
	});
}

:host.restricted-height menu {
	max-height: (@item--height * @max--items) + (10px * 2);
	overflow-y: auto;
}

:host.overflow menu {
	position: fixed;
	top: 5px;
	right: 5px;
}

:host.selector menu {
	width: 100%;
	box-shadow: none;
	border-radius: 0;
	margin: 0;
}
