@charset 'utf-8';

@import (less) '../../less/common/palette.less';
@import (less) '../../less/sizes.less';
@import (less) '../../less/common/fonts.less';
@import (less) '../../less/common/speed.less';

@icon--size: @md_icon_normal--size;

:host {
	color: inherit;
	
	text-decoration: none;

	&[disabled='true'] {
		pointer-events: none;
	}
}

section[container] {
	display: grid;
	box-sizing: border-box;
	align-items: center;
	justify-items: center;
	
	width: 100%;
	height: @md_size_bottomnavigationbar--height;

	text-decoration: none;

	section[inner] {
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: auto;
		grid-row-gap: 0;
		justify-items: center;

		:host.selected &,
		:host.show-caption {
			grid-row-gap: 1px;
		}

		span[icon] {
			display: block;
			width: @icon--size;
			height: @icon--size;
			font-size: @icon--size;
			line-height: @icon--size;
			
			position: relative;
			top: 0;
			left: 0;
		}

		label {
			display: none;

			font-family: @md_font_family;
			font-size: @md_font_caption--size;
			line-height: @md_font_caption--size * @md_text--lineheight;
	
			width: 100%;
			text-align: center;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		:host.selected &,
		:host.show-caption & {
			grid-template-rows: auto auto;

			label {
				display: block;
			}
			
			&.no-caption {
				grid-template-rows: auto;
				label {
					display: none;
				}
			}
		}
	}
	
	i.mdi:before,
	i.material-icons {
		display: block;
		font-size: @icon--size;
		line-height: @icon--size;
		/* NB, ideally we would set a width: ' @commons__sizes__bottomnavigator__icons--width here, but for some reason it busts the icon position */
	}

	each(@md_themes, {
		:host-context(body.theme-@{value}).selected {
			color: ~"@{theme-@{value}_primary}";
		}
			
		:host-context(body.theme-@{value})[disabled='true'] {
			color: ~"@{md_theme-@{value}_disabled}";
		}
	});

	aside {
		position: absolute;
		top: -1px;
		right: -8px;

		display: flex;
		box-sizing: border-box;
		
		justify-content: center;
		align-items: center;

		width: @md_font_caption--size * 1.5;
		height: @md_font_caption--size * 1.5;
		border-radius: @md_font_caption--size * 0.75;
		
		font-family: @md_font_family;
		font-size: @md_font_caption--size;
		line-height: @md_font_caption--size * @md_text--lineheight;
		
		each(@md_themes, {
			:host-context(body.theme-@{value}) & {
				background-color: ~"@{theme-@{value}_secondary}";
				color: ~"@{theme-@{value}_secondary--text}";
			}
		});
	}
}

aside {
	each(@md_themes, {
		:host-context(body.theme-@{value})[disabled='true'] & {
			background-color: ~"@{md_theme-@{value}_disabled}";
			color: ~"@{theme-@{value}_body--background}";
		}
	});
}
