<section container>
	<section inner
			[class.no-caption]="this.caption === undefined"
	>
		<span icon *ngIf="this.icon !== undefined">
			<ng-container [ngSwitch]="this.iconSet">
				<i *ngSwitchCase="EMaterialDesignIcons.MATERIALDESIGN" class="material-icons">{{this.icon}}</i>
				<i *ngSwitchCase="EMaterialDesignIcons.MATERIALDESIGN3" class="material-icons-3">{{this.icon}}</i>
				<i *ngSwitchCase="EMaterialDesignIcons.MDI" 
						[class]="'mdi mdi-' + this.icon!"
				></i>
			</ng-container>
			<aside *ngIf="this.badge">{{this.badge}}</aside>
		</span>
		<label *ngIf="this.caption !== undefined">{{this.caption}}</label>
	</section>
</section>