<section item>
	<label *ngIf="this.icon"
			class="icon"
	><i class="material-icons">{{this.icon}}</i></label>
	<label *ngIf="this.step !== undefined"
			class="step"
	>{{this.step}}</label>

	<section title><ng-content></ng-content></section>
	
	<div class="clear"></div>
</section>
