@charset 'utf-8';

@import (less) '../../less/common/fonts.less';
@import (less) '../../less/common/sizes.less';
@import (less) '../../less/common/palette.less';

@icon--diameter: 24px;
@icon--margin: @md_size_icon--margin;

:host {
	display: block;
	box-sizing: border-box;
	width: 100%;
	margin: 8px 0;
	padding: 0;
	
	list-style: none;
}

section[item] {
	display: block;
	box-sizing: border-box;
	width: 100%;

	> label {
		float: left;
	
		display: block;
		box-sizing: border-box;
		width: @icon--diameter;
		height: @icon--diameter;
		margin: @icon--margin 18px @icon--margin 0;

		border-radius: (@icon--diameter / 2);
	
		each(@md_themes, {
			:host-context(body.theme-@{value}) & {
				background-color: ~"@{theme-@{value}_primary}";
				color: ~"@{theme-@{value}_primary--text}";
			}
		});

		&.icon, &.step {
			text-align: center;
		}

		&.icon {
			padding-top: 4px;
			
			i.material-icons {
				font-size: 16px;
			}
		}
		
		&.step {
			padding-top: 4px;

			font-family: @md_font_family;
			font-size: @md_font_caption--size;
			font-weight: @md_font_caption--weight;
		}
	}
}

:host.active section[item] > label.step {
	padding-top: 2px;

	font-family: @md_font_family;
	font-size: @md_font_body2--size;
	font-weight: @md_font_body2--weight;
}

each(@md_themes, {
	:host-context(body.theme-@{value}).secondary section[item] > label {
		background-color: ~"@{theme-@{value}_secondary}";
		color: ~"@{theme-@{value}_secondary--text}";
	}
	:host-context(body.theme-@{value}).error section[item] > label {
		background-color: ~"@{theme-@{value}_error}";
		color: ~"@{theme-@{value}_error--text}";
	}
	:host-context(body.theme-@{value}).success section[item] > label {
		background-color: ~"@{theme-@{value}_success}";
		color: ~"@{theme-@{value}_success--text}";
	}
	:host-context(body.theme-@{value}).subtle section[item] > label {
		background-color: ~"@{md_theme-@{value}_subtle}";
		color: ~"@{theme-@{value}_primary--text}";
	}
});

section[title] {
	width: ~'calc(100% - (18px + ' @icon--margin ~' + ' @icon--diameter ~'))';
	float: left;
	
	margin: 2px 0 0 0;
	padding: 0;
	
	font-family: @md_font_family;
	font-size: @md_font_subheading--size;
	line-height: @md_font_subheading--size * @md_text--lineheight;
	font-weight: md_font_subheading--weight;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	
	each(@md_themes, {
		:host-context(body.theme-@{value}.theme-light) & {
			color: ~"@{md_theme-@{value}_body--text}";
		}
		:host-context(body.theme-@{value}.theme-dark) & {
			color: ~"@{md_theme-@{value}_body--text--invert}";
		}
	});
}

:host.active section[title] {
	font-weight: 500;
}

div.clear {
	clear: both;
}
