@md_font_display4--size: 112px;
@md_font_display3--size: 56px;
@md_font_display2--size: 45px;
@md_font_display1--size: 34px;
@md_font_headline--size: 24px;
@md_font_title--size: 20px;
@md_font_subheading--size: 16px;
@md_font_body2--size: 14px;
@md_font_body1--size: 14px;
@md_font_caption--size: 12px;
@md_font_button--size: 14px;

@md_font_family: "Roboto";

@md_font_display4--weight: 300;
@md_font_display3--weight: 400;
@md_font_display2--weight: 400;
@md_font_display1--weight: 400;
@md_font_headline--weight: 400;
@md_font_title--weight: 500;
@md_font_subheading--weight: 400;
@md_font_body2--weight: 500;
@md_font_body1--weight: 400;
@md_font_caption--weight: 400;
@md_font_button--weight: 500;

@md_icon_small--size: 18px;
@md_icon_normal--size: 24px;
@md_icon_large--size: 36px;
@md_icon_largest--size: 48px;

@md_text--lineheight: 1.5;
