@charset 'utf-8';

@import (less) '../../less/common/fonts.less';
@import (less) '../../less/common/palette.less';

:host {
	display: block;
	box-sizing: border-box;
	width: 100%;
	margin: 0;
	padding: 0;
	
	list-style: none;

	font-family: @md_font_family;
	font-size: @md_font_body1--size;
	line-height: @md_font_body1--size * @md_text--lineheight;
	font-weight: md_font_body1--weight;
}

section {
	box-sizing: border-box;
	display: block;
	clear: both;

	margin: 0 0 0 11px;
	padding: 5px 0 15px 30px;
	
	each(@md_themes, {
		:host-context(body.theme-@{value}) & {
			border-left: 1px solid ~"@{md_theme-@{value}_subtle}";
		}

		:host-context(body.theme-@{value}.theme-light) & {
			color: ~"@{md_theme-@{value}_body--text}";
		}
		:host-context(body.theme-@{value}.theme-dark) & {
			color: ~"@{md_theme-@{value}_body--text--invert}";
		}
	});
}
