<section item
		(click)="this.doSelect();"
>
	<label *ngIf="this.avatar.icon"
			class="icon"
			[style.background-color]="this.avatar.background"
			[style.color]="this.avatar.foreground"
	>
		<ng-container [ngSwitch]="this.getIconSet()">
			<i *ngSwitchCase="EMaterialDesignIcons.MATERIALDESIGN" class="material-icons">{{this.avatar.icon}}</i>
			<i *ngSwitchCase="EMaterialDesignIcons.MATERIALDESIGN3" class="material-icons-3">{{this.avatar.icon}}</i>
			<i *ngSwitchCase="EMaterialDesignIcons.MDI" 
					[class]="'mdi mdi-' + this.avatar.icon"
			></i>
		</ng-container>
	</label>
	<label *ngIf="this.avatar.letter !== undefined"
			class="letter"
			[style.background-color]="this.avatar.background"
			[style.color]="this.avatar.foreground"
	>
		<span>{{this.avatar.letter}}</span>
	</label>
	<img *ngIf="this.avatar.image && USE_IMG_RATHER_THAN_LABEL_BACKGROUND_BUG" class="USE_IMG_RATHER_THAN_LABEL_BACKGROUND_BUG"
			[src]="this.avatar.image"
	>
	<label *ngIf="this.avatar.image && !USE_IMG_RATHER_THAN_LABEL_BACKGROUND_BUG"
			class="image"
			[style.background-image]="this.getUrl()"
	></label>
	<label *ngIf="this.avatar.waitRotate"
			class="wait-rotate"
	><commons-wait-rotate
			[thickness]="4"
	></commons-wait-rotate></label>

	<section details>	
		<p><ng-content select="[title]"></ng-content></p>
		<label><ng-content select="[label]"></ng-content></label>
		<time><ng-content select="[time]"></ng-content></time>
	</section>
	
	<div class="clear"></div>
</section>
