@charset 'utf-8';

@theme-patrolred_primary: #d6001c;
@theme-patrolred_primary--light: #ff5146;
@theme-patrolred_primary--dark: #9c0000;
@theme-patrolred_primary--text: #ffffff;

@theme-patrolred_secondary: #90a4ae;
@theme-patrolred_secondary--light: #c1d5e0;
@theme-patrolred_secondary--dark: #62757f;
@theme-patrolred_secondary--text: #ffffff;

@theme-patrolred_error: #e63322;
@theme-patrolred_error--text: #ffffff;

@theme-patrolred_success: #8bc34a;
@theme-patrolred_success--text: #000000;

@theme-patrolred_body--background: #ffffff;
@theme-patrolred_hyperlink: #1857d6;
