@charset 'utf-8';

@theme-safety_primary: #f47800;
@theme-safety_primary--light: #ffa941;
@theme-safety_primary--dark: #ba4900;
@theme-safety_primary--text: #ffffff;

@theme-safety_secondary: #fdd835;
@theme-safety_secondary--light: #ffff6b;
@theme-safety_secondary--dark: #c6a700;
@theme-safety_secondary--text: #000000;

@theme-safety_error: #e63322;
@theme-safety_error--text: #ffffff;

@theme-safety_success: #8bc34a;
@theme-safety_success--text: #000000;

@theme-safety_body--background: #ffffff;
@theme-safety_hyperlink: #1857d6;
