@charset 'utf-8';

@import (less) '../../less/common/palette.less';
@import (less) '../../less/common/fonts.less';
@import (less) '../../less/common/sizes.less';
@import (less) '../../less/common/layout.less';

@height: 36px;
@margin: 4px;

section {
	display: block;
	box-sizing: border-box;
	
	margin: 0;
	padding: 16px;
	
	border-radius: 3px;
	
	width: 100%;

	each(@md_themes, {
		body.theme-@{value}.theme-light :host & {
			background: ~"@{theme-@{value}_body--background}";
			box-shadow: 0.5px 0.5px 2px 0 ~"@{md_theme-@{value}_shadow}";
		}
		body.theme-@{value}.theme-light :host.large-shadow & {
			box-shadow: 3px 3px 10px 0 ~"@{md_theme-@{value}_shadow-subtle}";
		}
		body.theme-@{value}.theme-dark :host & {
			background: ~"@{md_theme-@{value}_body--background--greyscale--invert}";
			box-shadow: -0.5px -0.5px 2px 0 ~"@{md_theme-@{value}_shadow--dark}";
		}
		body.theme-@{value}.theme-dark :host.large-shadow & {
			box-shadow: -3px -3px 10px 0 ~"@{md_theme-@{value}_shadow-subtle--dark}";
		}
	});
	
	:host.no-padding & {
		padding: 0;
	}
	
	:host.square-top & {
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}
	:host.square-bottom & {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}

	z-index: @md_elevation_scrolling-raised;
}

:host.full-height section {
	height: 100%;
}

section {
	each(@md_themes, {
		:host-context(body.theme-@{value}).theme-light.filled & {
			background: ~"@{md_theme-@{value}_subtlest}";
		}
		:host-context(body.theme-@{value}).theme-dark.filled & {
			background: ~"@{md_theme-@{value}_subtlest--dark}";
		}
	});
}
