@charset 'utf-8';

@import (less) '../../less/common/fonts.less';
@import (less) '../../less/common/sizes.less';
@import (less) '../../less/common/palette.less';

@body__font--size: @md_font_body1--size;
@body__font--weight: 400;
@body__font--size--larger: @md_font_subheading--size;
@body__font--size--largest: @md_font_title--size;

section {
	display: block;
}

dd {
	display: block;
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: @md_font_family;
	font-weight: @body__font--weight;
	font-size: @body__font--size;
	line-height: @body__font--size * @md_text--lineheight;
}
:host.larger dd {
	font-size: @body__font--size--larger;
	line-height: @body__font--size--larger * @md_text--lineheight;
}
:host.largest dd {
	font-size: @body__font--size--largest;
	line-height: @body__font--size--largest * @md_text--lineheight;
}
