@charset 'utf-8';

@md_size_infoline--height: 50px;

@md_size_button--height: 36px;

@md_size_icon--diameter: 44px;
@md_size_icon--margin: 2px;

@md_size_icon--diameter--chip: 24px;
@md_size_icon--diameter--small: 30px;
@md_size_icon--diameter--huge: 100px;

@md_size_details--height: 40px;

@md_size_details__label--width: 180px;
@md_size_details__label__compact--width: 110px;
