<button commons-button *ngIf="this.editable"
		class="icon small raised"
		(click)="this.doEdit();"
><i class="material-icons">mode_edit</i></button>
<span
		[class.editable]="this.editable"
><ng-content></ng-content></span>