@charset 'utf-8';

@import (less) '../../less/common/fonts.less';
@import (less) '../../less/common/sizes.less';

@height: @md_size_details--height;
@font--size: @md_font_subheading--size;

:host {
	display: block;
	margin: 0;
	padding: 0;

	position: relative;
	top: 0;
	left: 0;

	box-sizing: border-box;
	height: @height;
	
	font-family: @md_font_family;
	font-size: @font--size;
	font-weight: 500;
	line-height: @font--size;
	
	padding-top: ((@height - @font--size) / 2);

	white-space: nowrap;
}

button {
	float: right;
	
	position: relative;
	top: ((@height - (@md_size_icon--diameter--small + @md_size_icon--margin)) / 2) - ((@height - @font--size) / 2);
}

span {
	display: inline-block;
	
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	height: @font--size * @md_text--lineheight;

	&.editable {
		width: ~'calc(100% - ' (@md_size_details__label--width + @md_size_icon--diameter--small + 10px) ~')';
	}
}

:host.compact {
	span.editable {
		width: ~'calc(100% - ' (@md_size_details__label__compact--width + @md_size_icon--diameter--small + 10px) ~')';
	}
}
