@charset 'utf-8';

@import (less) '../../less/common/palette.less';
@import (less) '../../less/common/sizes.less';
@import (less) '../../less/common/fonts.less';
@import (less) '../../less/common/layout.less';

@padding--horizontal: 20px;
@padding--vertical: 13px;

section {
	display: block;
	box-sizing: border-box;
	
	padding: @padding--vertical @padding--horizontal;
	
	z-index: @md_elevation_scrolling-raised;
}

h4 {
	font-family: @md_font_family;
	font-weight: @md_font_subheading--weight;
	font-size: @md_font_subheading--size;
	
	margin: 0 0 10px 0;
	
	each(@md_themes, {
		:host-context(body.theme-@{value}.theme-light) & {
			color: ~"@{md_theme-@{value}_subtle}";
		}
		:host-context(body.theme-@{value}.theme-dark) & {
			color: ~"@{md_theme-@{value}_subtle--dark}";
		}
	});
}

:host.no-top-gap section {
	padding-top: 0;
}
:host.no-bottom-gap section {
	padding-bottom: 0;
}

:host.no-padding section {
	padding: 0;
}

:host-context(.no-padding) section {
	padding: 0;
}

:host.bigger-top-gap section {
	margin-top: 15px;
}
