@charset 'utf-8';

@import (less) '../../less/common/layout.less';
@import (less) '../../less/sizes.less';

aside {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	
	bottom: @md_size_bottomnavigationbar--height;
	
	z-index: @md_elevation_snackbar;

	/* disable the bar blocking the bottom of the screen, but still allow the close icon to be clicked */
	pointer-events: none;
	::ng-deep i.material-icons.ignore {
		pointer-events: all;
	}
}
