<aside>
<div *ngFor="let snack of this.snacks.slice(0, this.maxSnacks).reverse(); let i=index" [@closeAnimation]="'open'">
<commons-snack
		[snack]="snack"
		[timeout]="this.timeout || 5000"
		[allowIgnore]="this.allowIgnore"
		(ignore)="this.doIgnore(snack);"
></commons-snack>
</div>
</aside>
