<dl commons-avatar-list
		[title]="this.title"
>
	<ng-container *ngFor="let post of this.posts; let i = index">
		<commons-avatar-post
				[post]="post"
				[absolute]="this.absolute"
				[truncate]="this.truncate"
				[class.larger]="this.autoSize && post.message.length < 128"
				[class.largest]="this.autoSize && post.message.length < 64"
				(pick)="this.doSelect(post);"
		></commons-avatar-post>
		<hr *ngIf="i < (this.posts.length - 1)">
	</ng-container>
</dl>
