@charset 'utf-8';

@import (less) '../../less/common/fonts.less';
@import (less) '../../less/common/sizes.less';
@import (less) '../../less/common/palette.less';

hr {
	border: 0;
	padding-top: 10px;
	
	each(@md_themes, {
		:host-context(body.theme-@{value}) & {
			border-bottom: 1px solid ~"@{md_theme-@{value}_subtlest}";
		}
	});
}
