<td *ngIf="this.selectable !== undefined">
	<commons-checkbox *ngIf="this.selectable === ECommonsTableSelectable.MULTIPLE"
			[disabled]="this.disabled"
			[(checked)]="this.selectAll"
			(checkedChange)="this.doSelectAll();"
	></commons-checkbox>
</td>
<ng-content></ng-content>
