section[container] {
	width: 100%;
	height: 100%;
	position: relative;
	top: 0;
	left: 0;
}

ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
	line-height: 1em;
}

ul[sizecalc] {
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
	width: 1px;
	height: 1px;
	overflow: hidden;

	li {
		position: absolute;
		top: 0;
		left: 0;
		pointer-events: none;
		opacity: 0;
		line-height: 1em;
	}

	z-index: -9999;
}

ul[display] {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;

	li {
		position: absolute;
		display: grid;
		align-content: center;
		justify-content: center;
		line-height: 1em;
	}
}
