<section container #container>
	<ul sizecalc>
		<li *ngFor="let pair of this.calcPairs" #sizecalc
				[style.fontSize.px]="pair.fontSize"
		>{{ pair.word}}</li>
	</ul>

	<ul display>
		<li *ngFor="let pair of this.displayPairs"
			[style.fontSize.px]="pair.fontSize"
			[style.left.px]="pair.position.x"
			[style.top.px]="pair.position.y"
			[style.width.px]="pair.position.width"
			[style.height.px]="pair.position.height"
		>{{ pair.word}}</li>
	</ul>
</section>
