@charset 'utf-8';

@theme-night_primary: #104e7c;
@theme-night_primary--light: #8fadc5;
@theme-night_primary--dark: #08273e;
@theme-night_primary--text: #ffffff;

@theme-night_secondary: #e7c385;
@theme-night_secondary--light: #e8d9bf;
@theme-night_secondary--dark: #948467;
@theme-night_secondary--text: #000000;

@theme-night_error: #e63322;
@theme-night_error--text: #ffffff;

@theme-night_success: #8bc34a;
@theme-night_success--text: #000000;

@theme-night_body--background: #ffffff;
@theme-night_hyperlink: #1857d6;
