@charset 'utf-8';

@theme-purple_primary: #609;
@theme-purple_primary--light: #bf73e6;
@theme-purple_primary--dark: #33004d;
@theme-purple_primary--text: #ffffff;

@theme-purple_secondary: #ffcc33;
@theme-purple_secondary--light: #fff350;
@theme-purple_secondary--dark: #c79100;
@theme-purple_secondary--text: #000000;

@theme-purple_error: #e63322;
@theme-purple_error--text: #ffffff;

@theme-purple_success: #8bc34a;
@theme-purple_success--text: #000000;

@theme-purple_body--background: #ffffff;
@theme-purple_hyperlink: #1857d6;
