@charset 'utf-8';

@import (less) '../../less/common/fonts.less';
@import (less) '../../less/common/sizes.less';
@import (less) '../../less/common/palette.less';

@chip--height: 32px;

@icon--margin: ((@chip--height - @md_size_icon--diameter--chip) / 2);
@icon--diameter: @md_size_icon--diameter--chip;

@chip__font--size: @md_font_body2--size;
@chip__font--weight: @md_font_body2--weight;

section[chip] {
	display: inline-block;
	box-sizing: border-box;
	height: @chip--height;
	border-radius: (@chip--height / 2);
	padding: 0 12px;
	margin: 3px 8px 3px 0;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	&.unselected {
		/* silly fudges to get around the border expanding the area */
		padding: 0 11px;
	}
	
	each(@md_themes, {
		:host-context(body.theme-@{value}.theme-light) & {
			background-color: ~"@{md_theme-@{value}_subtlerer}";
			color: ~"@{md_theme-@{value}_body--text}";
			
			&.unselected {
				background-color: transparent;
				border: 1px solid ~"@{md_theme-@{value}_subtler}";
			}
		}
		:host-context(body.theme-@{value}.theme-dark) & {
			background-color: ~"@{md_theme-@{value}_subtler--dark}";
			color: ~"@{md_theme-@{value}_body--text--invert}";
			
			&.unselected {
				background-color: transparent;
				border: 1px solid ~"@{md_theme-@{value}_subtler--dark}";
			}
		}
	});

	> label.icon,
	> label.letter,
	> label.image,
	> img.USE_IMG_RATHER_THAN_LABEL_BACKGROUND_BUG
	{
		float: left;
		display: block;
		box-sizing: border-box;
		width: @icon--diameter;
		height: @icon--diameter;
		border-radius: (@icon--diameter / 2);
		margin: @icon--margin 8px @icon--margin -8px;
	
		each(@md_themes, {
			:host-context(body.theme-@{value}) & {
				@color-default-a: "md_theme-@{value}_body--text";
				@color-default-b: "md_theme-@{value}_subtle";
				color: mix(@@color-default-a, @@color-default-b, 50%);
			}
			:host-context(body.theme-@{value}.theme-dark) & {
				@color-dark-a: "md_theme-@{value}_body--text--invert";
				@color-dark-b: "md_theme-@{value}_subtle--dark";
				color: mix(@@color-dark-a, @@color-dark-b, 50%);
			}
		});
		
		&.icon {
			text-align: center;
		}

		&.icon {
			padding-top: 4px;
		}
		
		> i {
			position: relative;
			top: -3px;
			font-size: 22px;
		}
	}

	> label.image {
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
	}

	i.cancel {
		float: right;
		font-size: 20px;
		margin: (@icon--margin + 2px) -4px 0 8px;

		each(@md_themes, {
			:host-context(body.theme-@{value}) & {
				@color-i-default-a: "md_theme-@{value}_body--text";
				@color-i-default-b: "md_theme-@{value}_subtle";
				color: mix(@@color-i-default-a, @@color-i-default-b, 50%);
			}
			:host-context(body.theme-@{value}.theme-dark) & {
				@color-i-dark-a: "md_theme-@{value}_body--text--invert";
				@color-i-dark-b: "md_theme-@{value}_subtle--dark";
				color: mix(@@color-i-dark-a, @@color-i-dark-b, 50%);
			}
		});
	}	

	img.USE_IMG_RATHER_THAN_LABEL_BACKGROUND_BUG {
		object-fit: cover;
	}
}

span[content] {
	font-family: @md_font_family;
	font-size: @chip__font--size;
	line-height: @chip__font--size * @md_text--lineheight;
	font-weight: @chip__font--weight;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	
	position: relative;
	top: ((@chip--height - (@chip__font--size * @md_text--lineheight)) / 2) + 1px;
}

section[chip].unselected {
	span[content] {
		top: ((@chip--height - (@chip__font--size * @md_text--lineheight)) / 2);
	}
}
