<section chip
		[class.unselected]="this.unselected === true"
>
	<ng-container *ngIf="this.avatar">
		<label *ngIf="this.avatar.icon"
				class="icon"
				[style.background-color]="this.avatar.background"
				[style.color]="this.avatar.foreground"
		>
			<ng-container [ngSwitch]="this.getIconSet()">
				<i *ngSwitchCase="EMaterialDesignIcons.MATERIALDESIGN" class="material-icons">{{this.avatar.icon}}</i>
				<i *ngSwitchCase="EMaterialDesignIcons.MATERIALDESIGN3" class="material-icons-3">{{this.avatar.icon}}</i>
				<i *ngSwitchCase="EMaterialDesignIcons.MDI" 
						[class]="'mdi mdi-' + this.avatar.icon"
				></i>
			</ng-container>
		</label>
		<label *ngIf="this.avatar.letter !== undefined"
				class="letter"
		>{{this.avatar.letter}}</label>
		<img *ngIf="this.avatar.image && USE_IMG_RATHER_THAN_LABEL_BACKGROUND_BUG" class="USE_IMG_RATHER_THAN_LABEL_BACKGROUND_BUG"
				[src]="this.avatar.image"
		>
		<label *ngIf="this.avatar.image && !USE_IMG_RATHER_THAN_LABEL_BACKGROUND_BUG"
				class="image"
				[style.background-image]="this.getUrl()"
		></label>
	</ng-container>

	<i *ngIf="this.canCancel" class="cancel material-icons"
			(click)="this.doCancel();"
	>cancel</i>

	<span content><ng-content></ng-content></span>

</section>
