@charset 'utf-8';

@charset 'utf-8';

@import (less) '../../less/common/fonts.less';
@import (less) '../../less/common/palette.less';

@size: 230px;
@center: 10px;
@dragger: 36px;
@line: 3px;
@inset: 10px;

section {
	display: block;
	box-sizing: border-box;
}

section[body] {
	position: relative;
	top: 0;
	left: 0;
	
	width: @size;
	height: @size;
	border-radius: (@size / 2);
	
	each(@md_themes, {
		:host-context(body.theme-@{value}) & {
			background-color: ~"@{md_theme-@{value}_subtlest}";
		}
	});
}

section[rotator] {
	position: absolute;
	top: ((@size - @dragger) / 2);
	left: 0;
	
	width: @size;
	height: @dragger;
	
	[lineout] {
		position: absolute;
		top: ((@dragger - @line) / 2);
		left: (@dragger / 2) + @inset;
		width: ((@size - @dragger) / 2) - @inset;
		height: @line;

		each(@md_themes, {
			:host-context(body.theme-@{value}) & {
				background-color: ~"@{theme-@{value}_primary}";
			}
		});
	}
	
	[dragger] {
		position: absolute;
		top: 0;
		left: @inset;
		width: @dragger;
		height: @dragger;
		border-radius: (@dragger / 2);

		each(@md_themes, {
			:host-context(body.theme-@{value}) & {
				background-color: ~"@{theme-@{value}_primary}";
				color: ~"@{theme-@{value}_body--background}";
			}
		});

		text-align: center;
		
		font-family: @md_font_family;
		line-height: @md_font_body1--size;
		font-weight: @md_font_body1--weight;
		font-size: @md_font_body1--size;
		
		padding-top: ((@dragger - @md_font_body1--size) / 2);
	}
}

section[center] {
	position: absolute;
	top: ((@size - @center) / 2);
	left: ((@size - @center) / 2);
	
	width: @center;
	height: @center;
	border-radius: (@center / 2);
	
	each(@md_themes, {
		:host-context(body.theme-@{value}) & {
			background-color: ~"@{theme-@{value}_primary}";
		}
	});
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
	
	li {
		position: absolute;
	
		display: block;
		width: 50px;
		height: @md_font_body1--size;
		
		text-align: center;
		
		font-family: @md_font_family;
		line-height: @md_font_body1--size;
		font-weight: @md_font_body1--weight;
		font-size: @md_font_body1--size;
	}
}
