<section body #body>
	<ul>
		<li *ngFor="let i of this.items; let index = index"
				[style.top.px]="this.getTrigY(index, 0.75)"
				[style.left.px]="this.getTrigX(index, 0.75)"
				[class.selected]="this.getSelectedIndex() === index"
		>{{i}}</li>
	</ul>

	<section rotator
			[style.transform]="this.getRotate(this.angle)"
	>
		<section lineout></section>
		<section dragger
				[style.transform]="this.getRotate(1.5 - this.angle)"
				(panstart)="this.doPanStart($event);"
				(panmove)="this.doPanMove($event);"
				(panend)="this.doPanEnd($event);"
		>{{this.items[this.getSelectedIndex()]}}</section>
	</section>
	<section center></section>
</section>