@charset 'utf-8';

@import (less) '../../less/common/palette.less';
@import (less) '../../less/common/fonts.less';
@import (less) '../../less/common/sizes.less';
@import (less) '../../less/common/layout.less';
@import (less) '../../less/common/speed.less';

fieldset {
	display: block;
	box-sizing: border-box;
	
	margin: 0;
	&.expanded {
		margin: 16px 0 16px 0;
		
		:host.first & {
			margin-top: 0;
		}
		:host.last & {
			margin-bottom: 0;
		}
	}

	transition: 
			margin @speed--normal ease-in-out,
			margin-top @speed--normal ease-in-out,
			margin-bottom @speed--normal ease-in-out;
	
	padding: 0 24px 0 24px;

	border: 0;

	:host.last &,
	&.expanded {
		border-bottom: 0;
	}

	each(@md_themes, {
		:host-context(body.theme-@{value}.theme-light) & {
			background-color: ~"@{theme-@{value}_body--background}";
			box-shadow: 0.5px 0.5px 2px 0 ~"@{md_theme-@{value}_shadow}";
		}
		body.theme-@{value}.theme-light :host.large-shadow & {
			box-shadow: 3px 3px 10px 0 ~"@{md_theme-@{value}_shadow-subtle}";
		}

		:host-context(body.theme-@{value}.theme-dark) & {
			background-color: ~"@{md_theme-@{value}_body--background--greyscale--invert}";
			box-shadow: -0.5px -0.5px 2px 0 ~"@{md_theme-@{value}_shadow--dark}";
		}
		body.theme-@{value}.theme-dark :host.large-shadow & {
			box-shadow: 3px 3px 10px 0 ~"@{md_theme-@{value}_shadow-subtle--dark}";
		}
	});
	
	border-radius: 0.01px;	/* nasty hack to get the shadow consistant since the border-radius seems to make it thicker */
	
	:host.first & {
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
	}
	:host.last & {
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;
	}
}

section {
	display: block;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	
	&[content] {
		margin-bottom: 0;
		
		overflow: hidden;
		height: 0;
		
		transition: height @speed--normal ease-in-out;
		
		&.expanded {
			height: auto;
			margin-bottom: 14px;
		}
	}
	
}
