@charset 'utf-8';

@import (less) '../../less/common/palette.less';
@import (less) '../../less/sizes.less';
@import (less) '../../less/common/layout.less';
@import (less) '../../less/common/layout.less';

@bar--shadow-blur: 10px;

footer {
	/* the negative left and excess width is ok because the position is fixed */
	
	display: grid;
	box-sizing: border-box;
	
	position: fixed;
	bottom: 0;
	left: -@bar--shadow-blur;
	
	margin: 0;
	
	width: ~'calc(100% + ' (2 * @bar--shadow-blur) ~')';
	height: @md_size_bottomnavigationbar--height;
	white-space: nowrap;
	overflow: hidden;
	
	font-size: 0;
	
	text-align: center;
	
	each(@md_themes, {
		body.theme-@{value}.theme-light :host & {
			box-shadow: 0 3px @bar--shadow-blur 0 ~"@{md_theme-@{value}_shadow}";
			background-color: ~"@{theme-@{value}_body--background}";
			
			@color-a: "md_theme-@{value}_body--text";
			color: fade(@@color-a, 76%);
		}
		body.theme-@{value}.theme-dark :host & {
			box-shadow: 0 3px @bar--shadow-blur 0 ~"@{md_theme-@{value}_shadow--dark}";
			background-color: ~"@{md_theme-@{value}_body--background--greyscale--invert}";
			
			@color-a: "md_theme-@{value}_body--text--invert";
			color: fade(@@color-a, 76%);
		}
		
		body.theme-@{value} :host.primary & {
			background-color: ~"@{theme-@{value}_primary}";
			
			@color-a: "theme-@{value}_primary--text";
			color: fade(@@color-a, 76%);
		}
	});

	z-index: @md_elevation_fixed;
	
	section[inner] {
		display: grid;
		width: ~'calc(100% - ' (2 * @bar--shadow-blur) ~')';
		height: inherit;
		position: relative;
		left: @bar--shadow-blur;
		white-space: nowrap;
		overflow: hidden;

		grid-template-columns: repeat(auto-fit, minmax(1px, 1fr));
	}
}

:host.relative footer {
	/* for relative, we need to undo the left/width from above */
	
	position: relative;
	bottom: auto;
	left: auto;
	width: 100%;

	z-index: @md_elevation_scrolling-raised;
	
	section[inner] {
		width: 100%;
		height: inherit;
		left: 0;
	}
}
