@charset 'utf-8';


@md_themes: blue, darkred, hotpink, marine, muted, night, patrolred, purple, safety;


/* blue theme */
@import (less) './themes/blue.less';

@md_theme-blue_body--background--greyscale: greyscale(@theme-blue_body--background);
@md_theme-blue_body--background--greyscale--invert: difference(@md_theme-blue_body--background--greyscale, #ffffff);
@md_theme-blue_body--text: mix(@md_theme-blue_body--background--greyscale--invert, @md_theme-blue_body--background--greyscale, 80%);
@md_theme-blue_body--text--invert: difference(@md_theme-blue_body--text, #ffffff);

@md_theme-blue_modal--background: fade(@md_theme-blue_body--background--greyscale--invert, 50%);
@md_theme-blue_modal--background--dark: fade(@md_theme-blue_body--background--greyscale, 50%);

@md_theme-blue_disabled: mix(@md_theme-blue_body--text, @md_theme-blue_body--background--greyscale, 30%);
@md_theme-blue_subtle: mix(@md_theme-blue_body--background--greyscale, @md_theme-blue_body--background--greyscale--invert, 60%);
@md_theme-blue_subtler: mix(@md_theme-blue_body--background--greyscale, @md_theme-blue_body--background--greyscale--invert, 75%);
@md_theme-blue_subtlerer: mix(@md_theme-blue_body--background--greyscale, @md_theme-blue_body--background--greyscale--invert,88%);
@md_theme-blue_subtlest: mix(@md_theme-blue_body--background--greyscale, @md_theme-blue_body--background--greyscale--invert, 95%);

@md_theme-blue_subtle--dark: mix(@md_theme-blue_body--background--greyscale, @md_theme-blue_body--background--greyscale--invert, 40%);
@md_theme-blue_subtler--dark: mix(@md_theme-blue_body--background--greyscale, @md_theme-blue_body--background--greyscale--invert, 25%);
@md_theme-blue_subtlest--dark: mix(@md_theme-blue_body--background--greyscale, @md_theme-blue_body--background--greyscale--invert, 5%);

@md_theme-blue_shadow: fade(@md_theme-blue_body--background--greyscale--invert, 50%);
@md_theme-blue_shadow-subtle: fade(@md_theme-blue_body--background--greyscale--invert, 30%);

@md_theme-blue_shadow--dark: fade(@md_theme-blue_body--background--greyscale, 50%);
@md_theme-blue_shadow-subtle--dark: fade(@md_theme-blue_body--background--greyscale, 30%);


/* darkred theme */
@import (less) './themes/darkred.less';

@md_theme-darkred_body--background--greyscale: greyscale(@theme-darkred_body--background);
@md_theme-darkred_body--background--greyscale--invert: difference(@md_theme-darkred_body--background--greyscale, #ffffff);
@md_theme-darkred_body--text: mix(@md_theme-darkred_body--background--greyscale--invert, @md_theme-darkred_body--background--greyscale, 80%);
@md_theme-darkred_body--text--invert: difference(@md_theme-darkred_body--text, #ffffff);

@md_theme-darkred_modal--background: fade(@md_theme-darkred_body--background--greyscale--invert, 50%);
@md_theme-darkred_modal--background--dark: fade(@md_theme-darkred_body--background--greyscale, 50%);

@md_theme-darkred_disabled: mix(@md_theme-darkred_body--text, @md_theme-darkred_body--background--greyscale, 30%);
@md_theme-darkred_subtle: mix(@md_theme-darkred_body--background--greyscale, @md_theme-darkred_body--background--greyscale--invert, 60%);
@md_theme-darkred_subtler: mix(@md_theme-darkred_body--background--greyscale, @md_theme-darkred_body--background--greyscale--invert, 75%);
@md_theme-darkred_subtlerer: mix(@md_theme-darkred_body--background--greyscale, @md_theme-darkred_body--background--greyscale--invert,88%);
@md_theme-darkred_subtlest: mix(@md_theme-darkred_body--background--greyscale, @md_theme-darkred_body--background--greyscale--invert, 95%);

@md_theme-darkred_subtle--dark: mix(@md_theme-darkred_body--background--greyscale, @md_theme-darkred_body--background--greyscale--invert, 40%);
@md_theme-darkred_subtler--dark: mix(@md_theme-darkred_body--background--greyscale, @md_theme-darkred_body--background--greyscale--invert, 25%);
@md_theme-darkred_subtlest--dark: mix(@md_theme-darkred_body--background--greyscale, @md_theme-darkred_body--background--greyscale--invert, 5%);

@md_theme-darkred_shadow: fade(@md_theme-darkred_body--background--greyscale--invert, 50%);
@md_theme-darkred_shadow-subtle: fade(@md_theme-darkred_body--background--greyscale--invert, 30%);

@md_theme-darkred_shadow--dark: fade(@md_theme-darkred_body--background--greyscale, 50%);
@md_theme-darkred_shadow-subtle--dark: fade(@md_theme-darkred_body--background--greyscale, 30%);


/* hotpink theme */
@import (less) './themes/hotpink.less';

@md_theme-hotpink_body--background--greyscale: greyscale(@theme-hotpink_body--background);
@md_theme-hotpink_body--background--greyscale--invert: difference(@md_theme-hotpink_body--background--greyscale, #ffffff);
@md_theme-hotpink_body--text: mix(@md_theme-hotpink_body--background--greyscale--invert, @md_theme-hotpink_body--background--greyscale, 80%);
@md_theme-hotpink_body--text--invert: difference(@md_theme-hotpink_body--text, #ffffff);

@md_theme-hotpink_modal--background: fade(@md_theme-hotpink_body--background--greyscale--invert, 50%);
@md_theme-hotpink_modal--background--dark: fade(@md_theme-hotpink_body--background--greyscale, 50%);

@md_theme-hotpink_disabled: mix(@md_theme-hotpink_body--text, @md_theme-hotpink_body--background--greyscale, 30%);
@md_theme-hotpink_subtle: mix(@md_theme-hotpink_body--background--greyscale, @md_theme-hotpink_body--background--greyscale--invert, 60%);
@md_theme-hotpink_subtler: mix(@md_theme-hotpink_body--background--greyscale, @md_theme-hotpink_body--background--greyscale--invert, 75%);
@md_theme-hotpink_subtlerer: mix(@md_theme-hotpink_body--background--greyscale, @md_theme-hotpink_body--background--greyscale--invert,88%);
@md_theme-hotpink_subtlest: mix(@md_theme-hotpink_body--background--greyscale, @md_theme-hotpink_body--background--greyscale--invert, 95%);

@md_theme-hotpink_subtle--dark: mix(@md_theme-hotpink_body--background--greyscale, @md_theme-hotpink_body--background--greyscale--invert, 40%);
@md_theme-hotpink_subtler--dark: mix(@md_theme-hotpink_body--background--greyscale, @md_theme-hotpink_body--background--greyscale--invert, 25%);
@md_theme-hotpink_subtlest--dark: mix(@md_theme-hotpink_body--background--greyscale, @md_theme-hotpink_body--background--greyscale--invert, 5%);

@md_theme-hotpink_shadow: fade(@md_theme-hotpink_body--background--greyscale--invert, 50%);
@md_theme-hotpink_shadow-subtle: fade(@md_theme-hotpink_body--background--greyscale--invert, 30%);

@md_theme-hotpink_shadow--dark: fade(@md_theme-hotpink_body--background--greyscale, 50%);
@md_theme-hotpink_shadow-subtle--dark: fade(@md_theme-hotpink_body--background--greyscale, 30%);


/* marine theme */
@import (less) './themes/marine.less';

@md_theme-marine_body--background--greyscale: greyscale(@theme-marine_body--background);
@md_theme-marine_body--background--greyscale--invert: difference(@md_theme-marine_body--background--greyscale, #ffffff);
@md_theme-marine_body--text: mix(@md_theme-marine_body--background--greyscale--invert, @md_theme-marine_body--background--greyscale, 80%);
@md_theme-marine_body--text--invert: difference(@md_theme-marine_body--text, #ffffff);

@md_theme-marine_modal--background: fade(@md_theme-marine_body--background--greyscale--invert, 50%);
@md_theme-marine_modal--background--dark: fade(@md_theme-marine_body--background--greyscale, 50%);

@md_theme-marine_disabled: mix(@md_theme-marine_body--text, @md_theme-marine_body--background--greyscale, 30%);
@md_theme-marine_subtle: mix(@md_theme-marine_body--background--greyscale, @md_theme-marine_body--background--greyscale--invert, 60%);
@md_theme-marine_subtler: mix(@md_theme-marine_body--background--greyscale, @md_theme-marine_body--background--greyscale--invert, 75%);
@md_theme-marine_subtlerer: mix(@md_theme-marine_body--background--greyscale, @md_theme-marine_body--background--greyscale--invert,88%);
@md_theme-marine_subtlest: mix(@md_theme-marine_body--background--greyscale, @md_theme-marine_body--background--greyscale--invert, 95%);

@md_theme-marine_subtle--dark: mix(@md_theme-marine_body--background--greyscale, @md_theme-marine_body--background--greyscale--invert, 40%);
@md_theme-marine_subtler--dark: mix(@md_theme-marine_body--background--greyscale, @md_theme-marine_body--background--greyscale--invert, 25%);
@md_theme-marine_subtlest--dark: mix(@md_theme-marine_body--background--greyscale, @md_theme-marine_body--background--greyscale--invert, 5%);

@md_theme-marine_shadow: fade(@md_theme-marine_body--background--greyscale--invert, 50%);
@md_theme-marine_shadow-subtle: fade(@md_theme-marine_body--background--greyscale--invert, 30%);

@md_theme-marine_shadow--dark: fade(@md_theme-marine_body--background--greyscale, 50%);
@md_theme-marine_shadow-subtle--dark: fade(@md_theme-marine_body--background--greyscale, 30%);


/* muted theme */
@import (less) './themes/muted.less';

@md_theme-muted_body--background--greyscale: greyscale(@theme-muted_body--background);
@md_theme-muted_body--background--greyscale--invert: difference(@md_theme-muted_body--background--greyscale, #ffffff);
@md_theme-muted_body--text: mix(@md_theme-muted_body--background--greyscale--invert, @md_theme-muted_body--background--greyscale, 80%);
@md_theme-muted_body--text--invert: difference(@md_theme-muted_body--text, #ffffff);

@md_theme-muted_modal--background: fade(@md_theme-muted_body--background--greyscale--invert, 50%);
@md_theme-muted_modal--background--dark: fade(@md_theme-muted_body--background--greyscale, 50%);

@md_theme-muted_disabled: mix(@md_theme-muted_body--text, @md_theme-muted_body--background--greyscale, 30%);
@md_theme-muted_subtle: mix(@md_theme-muted_body--background--greyscale, @md_theme-muted_body--background--greyscale--invert, 60%);
@md_theme-muted_subtler: mix(@md_theme-muted_body--background--greyscale, @md_theme-muted_body--background--greyscale--invert, 75%);
@md_theme-muted_subtlerer: mix(@md_theme-muted_body--background--greyscale, @md_theme-muted_body--background--greyscale--invert,88%);
@md_theme-muted_subtlest: mix(@md_theme-muted_body--background--greyscale, @md_theme-muted_body--background--greyscale--invert, 95%);

@md_theme-muted_subtle--dark: mix(@md_theme-muted_body--background--greyscale, @md_theme-muted_body--background--greyscale--invert, 40%);
@md_theme-muted_subtler--dark: mix(@md_theme-muted_body--background--greyscale, @md_theme-muted_body--background--greyscale--invert, 25%);
@md_theme-muted_subtlest--dark: mix(@md_theme-muted_body--background--greyscale, @md_theme-muted_body--background--greyscale--invert, 5%);

@md_theme-muted_shadow: fade(@md_theme-muted_body--background--greyscale--invert, 50%);
@md_theme-muted_shadow-subtle: fade(@md_theme-muted_body--background--greyscale--invert, 30%);

@md_theme-muted_shadow--dark: fade(@md_theme-muted_body--background--greyscale, 50%);
@md_theme-muted_shadow-subtle--dark: fade(@md_theme-muted_body--background--greyscale, 30%);


/* night theme */
@import (less) './themes/night.less';

@md_theme-night_body--background--greyscale: greyscale(@theme-night_body--background);
@md_theme-night_body--background--greyscale--invert: difference(@md_theme-night_body--background--greyscale, #ffffff);
@md_theme-night_body--text: mix(@md_theme-night_body--background--greyscale--invert, @md_theme-night_body--background--greyscale, 80%);
@md_theme-night_body--text--invert: difference(@md_theme-night_body--text, #ffffff);

@md_theme-night_modal--background: fade(@md_theme-night_body--background--greyscale--invert, 50%);
@md_theme-night_modal--background--dark: fade(@md_theme-night_body--background--greyscale, 50%);

@md_theme-night_disabled: mix(@md_theme-night_body--text, @md_theme-night_body--background--greyscale, 30%);
@md_theme-night_subtle: mix(@md_theme-night_body--background--greyscale, @md_theme-night_body--background--greyscale--invert, 60%);
@md_theme-night_subtler: mix(@md_theme-night_body--background--greyscale, @md_theme-night_body--background--greyscale--invert, 75%);
@md_theme-night_subtlerer: mix(@md_theme-night_body--background--greyscale, @md_theme-night_body--background--greyscale--invert,88%);
@md_theme-night_subtlest: mix(@md_theme-night_body--background--greyscale, @md_theme-night_body--background--greyscale--invert, 95%);

@md_theme-night_subtle--dark: mix(@md_theme-night_body--background--greyscale, @md_theme-night_body--background--greyscale--invert, 40%);
@md_theme-night_subtler--dark: mix(@md_theme-night_body--background--greyscale, @md_theme-night_body--background--greyscale--invert, 25%);
@md_theme-night_subtlest--dark: mix(@md_theme-night_body--background--greyscale, @md_theme-night_body--background--greyscale--invert, 5%);

@md_theme-night_shadow: fade(@md_theme-night_body--background--greyscale--invert, 50%);
@md_theme-night_shadow-subtle: fade(@md_theme-night_body--background--greyscale--invert, 30%);

@md_theme-night_shadow--dark: fade(@md_theme-night_body--background--greyscale, 50%);
@md_theme-night_shadow-subtle--dark: fade(@md_theme-night_body--background--greyscale, 30%);


/* patrolred theme */
@import (less) './themes/patrolred.less';

@md_theme-patrolred_body--background--greyscale: greyscale(@theme-patrolred_body--background);
@md_theme-patrolred_body--background--greyscale--invert: difference(@md_theme-patrolred_body--background--greyscale, #ffffff);
@md_theme-patrolred_body--text: mix(@md_theme-patrolred_body--background--greyscale--invert, @md_theme-patrolred_body--background--greyscale, 80%);
@md_theme-patrolred_body--text--invert: difference(@md_theme-patrolred_body--text, #ffffff);

@md_theme-patrolred_modal--background: fade(@md_theme-patrolred_body--background--greyscale--invert, 50%);
@md_theme-patrolred_modal--background--dark: fade(@md_theme-patrolred_body--background--greyscale, 50%);

@md_theme-patrolred_disabled: mix(@md_theme-patrolred_body--text, @md_theme-patrolred_body--background--greyscale, 30%);
@md_theme-patrolred_subtle: mix(@md_theme-patrolred_body--background--greyscale, @md_theme-patrolred_body--background--greyscale--invert, 60%);
@md_theme-patrolred_subtler: mix(@md_theme-patrolred_body--background--greyscale, @md_theme-patrolred_body--background--greyscale--invert, 75%);
@md_theme-patrolred_subtlerer: mix(@md_theme-patrolred_body--background--greyscale, @md_theme-patrolred_body--background--greyscale--invert,88%);
@md_theme-patrolred_subtlest: mix(@md_theme-patrolred_body--background--greyscale, @md_theme-patrolred_body--background--greyscale--invert, 95%);

@md_theme-patrolred_subtle--dark: mix(@md_theme-patrolred_body--background--greyscale, @md_theme-patrolred_body--background--greyscale--invert, 40%);
@md_theme-patrolred_subtler--dark: mix(@md_theme-patrolred_body--background--greyscale, @md_theme-patrolred_body--background--greyscale--invert, 25%);
@md_theme-patrolred_subtlest--dark: mix(@md_theme-patrolred_body--background--greyscale, @md_theme-patrolred_body--background--greyscale--invert, 5%);

@md_theme-patrolred_shadow: fade(@md_theme-patrolred_body--background--greyscale--invert, 50%);
@md_theme-patrolred_shadow-subtle: fade(@md_theme-patrolred_body--background--greyscale--invert, 30%);

@md_theme-patrolred_shadow--dark: fade(@md_theme-patrolred_body--background--greyscale, 50%);
@md_theme-patrolred_shadow-subtle--dark: fade(@md_theme-patrolred_body--background--greyscale, 30%);


/* purple theme */
@import (less) './themes/purple.less';

@md_theme-purple_body--background--greyscale: greyscale(@theme-purple_body--background);
@md_theme-purple_body--background--greyscale--invert: difference(@md_theme-purple_body--background--greyscale, #ffffff);
@md_theme-purple_body--text: mix(@md_theme-purple_body--background--greyscale--invert, @md_theme-purple_body--background--greyscale, 80%);
@md_theme-purple_body--text--invert: difference(@md_theme-purple_body--text, #ffffff);

@md_theme-purple_modal--background: fade(@md_theme-purple_body--background--greyscale--invert, 50%);
@md_theme-purple_modal--background--dark: fade(@md_theme-purple_body--background--greyscale, 50%);

@md_theme-purple_disabled: mix(@md_theme-purple_body--text, @md_theme-purple_body--background--greyscale, 30%);
@md_theme-purple_subtle: mix(@md_theme-purple_body--background--greyscale, @md_theme-purple_body--background--greyscale--invert, 60%);
@md_theme-purple_subtler: mix(@md_theme-purple_body--background--greyscale, @md_theme-purple_body--background--greyscale--invert, 75%);
@md_theme-purple_subtlerer: mix(@md_theme-purple_body--background--greyscale, @md_theme-purple_body--background--greyscale--invert,88%);
@md_theme-purple_subtlest: mix(@md_theme-purple_body--background--greyscale, @md_theme-purple_body--background--greyscale--invert, 95%);

@md_theme-purple_subtle--dark: mix(@md_theme-purple_body--background--greyscale, @md_theme-purple_body--background--greyscale--invert, 40%);
@md_theme-purple_subtler--dark: mix(@md_theme-purple_body--background--greyscale, @md_theme-purple_body--background--greyscale--invert, 25%);
@md_theme-purple_subtlest--dark: mix(@md_theme-purple_body--background--greyscale, @md_theme-purple_body--background--greyscale--invert, 5%);

@md_theme-purple_shadow: fade(@md_theme-purple_body--background--greyscale--invert, 50%);
@md_theme-purple_shadow-subtle: fade(@md_theme-purple_body--background--greyscale--invert, 30%);

@md_theme-purple_shadow--dark: fade(@md_theme-purple_body--background--greyscale, 50%);
@md_theme-purple_shadow-subtle--dark: fade(@md_theme-purple_body--background--greyscale, 30%);


/* safety theme */
@import (less) './themes/safety.less';

@md_theme-safety_body--background--greyscale: greyscale(@theme-safety_body--background);
@md_theme-safety_body--background--greyscale--invert: difference(@md_theme-safety_body--background--greyscale, #ffffff);
@md_theme-safety_body--text: mix(@md_theme-safety_body--background--greyscale--invert, @md_theme-safety_body--background--greyscale, 80%);
@md_theme-safety_body--text--invert: difference(@md_theme-safety_body--text, #ffffff);

@md_theme-safety_modal--background: fade(@md_theme-safety_body--background--greyscale--invert, 50%);
@md_theme-safety_modal--background--dark: fade(@md_theme-safety_body--background--greyscale, 50%);

@md_theme-safety_disabled: mix(@md_theme-safety_body--text, @md_theme-safety_body--background--greyscale, 30%);
@md_theme-safety_subtle: mix(@md_theme-safety_body--background--greyscale, @md_theme-safety_body--background--greyscale--invert, 60%);
@md_theme-safety_subtler: mix(@md_theme-safety_body--background--greyscale, @md_theme-safety_body--background--greyscale--invert, 75%);
@md_theme-safety_subtlerer: mix(@md_theme-safety_body--background--greyscale, @md_theme-safety_body--background--greyscale--invert,88%);
@md_theme-safety_subtlest: mix(@md_theme-safety_body--background--greyscale, @md_theme-safety_body--background--greyscale--invert, 95%);

@md_theme-safety_subtle--dark: mix(@md_theme-safety_body--background--greyscale, @md_theme-safety_body--background--greyscale--invert, 40%);
@md_theme-safety_subtler--dark: mix(@md_theme-safety_body--background--greyscale, @md_theme-safety_body--background--greyscale--invert, 25%);
@md_theme-safety_subtlest--dark: mix(@md_theme-safety_body--background--greyscale, @md_theme-safety_body--background--greyscale--invert, 5%);

@md_theme-safety_shadow: fade(@md_theme-safety_body--background--greyscale--invert, 50%);
@md_theme-safety_shadow-subtle: fade(@md_theme-safety_body--background--greyscale--invert, 30%);

@md_theme-safety_shadow--dark: fade(@md_theme-safety_body--background--greyscale, 50%);
@md_theme-safety_shadow-subtle--dark: fade(@md_theme-safety_body--background--greyscale, 30%);

