<aside
		[ngClass]="'snack' + index"
>
	<commons-info-line error *ngIf="this.isError()"
			class="compact"
			[allowIgnore]="this.allowIgnore"
			(ignore)="this.doIgnore()"
	>{{snack.message}}</commons-info-line>
	<commons-info-line success *ngIf="this.isSuccess()"
			class="compact"
			[allowIgnore]="this.allowIgnore"
			(ignore)="this.doIgnore()"
	>{{snack.message}}</commons-info-line>
	<commons-info-line notification *ngIf="this.isNotification()"
			class="compact"
			[allowIgnore]="this.allowIgnore"
			(ignore)="this.doIgnore()"
	>{{snack.message}}</commons-info-line>
</aside>
