<button
		[disabled]="this.disabled"
		(click)="this.doClick();"
><aside></aside><i *ngIf="this.selected === this.value" class="material-icons"
>radio_button_checked</i><i *ngIf="this.selected !== this.value" class="material-icons"
>radio_button_unchecked</i></button><span
		(click)="this.doClick();"
><ng-content></ng-content></span>
