@import (less) '../../less/common/fonts.less';

:host {
	display: block;
	text-align: left;
	box-sizing: border-box;
	padding: 0 16px;
	
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	
	font-family: @md_font_family;
	font-weight: @md_font_body1--weight;
	font-size: @md_font_body1--size;
	line-height: @md_font_body1--size * @md_text--lineheight;
}
