@charset 'utf-8';

@import (less) '../../less/common/fonts.less';
@import (less) '../../less/common/sizes.less';
@import (less) '../../less/common/palette.less';

:host {
	font-family: @md_font_family;
}

p, ul, ol {
	line-height: @md_font_body1--size * @md_text--lineheight;
	font-weight: @md_font_body1--weight;
	font-size: @md_font_body1--size;

	margin: 10px 0;
}

ul, ol {
	margin: 15px 0 15px 5px;
	padding: 0 0 0 25px;
}

ul {
	list-style-type: square;
}

li {
	margin: 5px 0;
	line-height: @md_font_body1--size * 1.35;
}

h4 {
	margin-bottom: 0;
}
