@charset 'utf-8';

@import (less) '../../less/common/sizes.less';
@import (less) '../../less/sizes.less';

aside {
	position: fixed;
	bottom: @md_size_bottomnavigationbar--height + 20px;
	right: 20px - @md_size_icon--margin;
	
	:host.flushBottom & {
		bottom: 20px - @md_size_icon--margin;
	}
}

button {
	display: block;
	z-index: 110;
	cursor: pointer;
	margin-top: 20px !important;
	
	&.small {
		position: relative;
		left: ((@md_size_icon--diameter - @md_size_icon--diameter--small) / 2);
	}
}
