<aside>
	<button commons-button *ngFor="let action of this.list(false)"
			class="raised icon small"
			[disabled]="action.disabled"
			(click)="this.doAction(action.action)"
	>
		<ng-container [ngSwitch]="action.iconSet">
			<i *ngSwitchCase="EMaterialDesignIcons.MATERIALDESIGN" class="material-icons">{{action.icon}}</i>
			<i *ngSwitchCase="EMaterialDesignIcons.MATERIALDESIGN3" class="material-icons-3">{{action.icon}}</i>
			<i *ngSwitchCase="EMaterialDesignIcons.MDI" 
					[class]="'mdi mdi-' + action.icon"
			></i>
		</ng-container>
	</button>
	<button commons-button *ngFor="let action of this.list(true)"
			class="filled secondary icon"
			[disabled]="action.disabled"
			(click)="this.doAction(action.action)"
	>
		<ng-container [ngSwitch]="action.iconSet">
			<i *ngSwitchCase="EMaterialDesignIcons.MATERIALDESIGN" class="material-icons">{{action.icon}}</i>
			<i *ngSwitchCase="EMaterialDesignIcons.MATERIALDESIGN3" class="material-icons-3">{{action.icon}}</i>
			<i *ngSwitchCase="EMaterialDesignIcons.MDI" 
					[class]="'mdi mdi-' + action.icon"
			></i>
		</ng-container>
	</button>
</aside>
