@charset 'utf-8';

@theme-hotpink_primary: #ef6ab3;
@theme-hotpink_primary--light: #ff9ce5;
@theme-hotpink_primary--dark: #ba3783;
@theme-hotpink_primary--text: #ffffff;

@theme-hotpink_secondary: #9debef;
@theme-hotpink_secondary--light: #d0ffff;
@theme-hotpink_secondary--dark: #6bb8bd;
@theme-hotpink_secondary--text: #000000;

@theme-hotpink_error: #e63322;
@theme-hotpink_error--text: #ffffff;

@theme-hotpink_success: #8bc34a;
@theme-hotpink_success--text: #000000;

@theme-hotpink_body--background: #ffffff;
@theme-hotpink_hyperlink: #ba3783;
