@charset 'utf-8';

@theme-marine_primary: #2994ae;
@theme-marine_primary--light: #65c5e0;
@theme-marine_primary--dark: #00667f;
@theme-marine_primary--text: #ffffff;

@theme-marine_secondary: #99d1dd;
@theme-marine_secondary--light: #cbffff;
@theme-marine_secondary--dark: #69a0ab;
@theme-marine_secondary--text: #000000;

@theme-marine_error: #e63322;
@theme-marine_error--text: #ffffff;

@theme-marine_success: #8bc34a;
@theme-marine_success--text: #000000;

@theme-marine_body--background: #ffffff;
@theme-marine_hyperlink: #2994ae;
