@charset 'utf-8';

@import (less) '../../less/common/fonts.less';
@import (less) '../../less/common/palette.less';

@gap--vertical: 5px;

@height--item: (@md_font_headline--size * @md_text--lineheight) + (2 * @gap--vertical);
@items: 5;

section {
	position: relative;
	top: 0;
	left: 0;
	
	width: 100%;
	height: @height--item * @items;
	
	overflow: hidden;
}

aside {
	display: block;
	box-sizing: border-box;

	width: 100%;
	height: (@md_font_headline--size * @md_text--lineheight) + (2 * @gap--vertical);

	position: absolute;
	top: ((@items - 1) / 2) * @height--item;
	left: 0;
	
	each(@md_themes, {
		:host-context(body.theme-@{value}) & {
			border-top: 2px solid ~"@{theme-@{value}_secondary}";
			border-bottom: 2px solid ~"@{theme-@{value}_secondary}";
		}
	});
	
	z-index: -99;
}

ul {
	box-sizing: border-box;
	position: absolute;
	left: 0;

	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
	z-index: 99;

	li {
		z-index: 99;
	
		box-sizing: border-box;
		
		margin: 0;
		padding: @gap--vertical 0;

		height: (@md_font_headline--size * @md_text--lineheight) + (2 * @gap--vertical);
		
		font-family: @md_font_family;
		line-height: @md_font_headline--size * @md_text--lineheight;
		font-weight: @md_font_headline--weight;
		font-size: @md_font_headline--size;
		
		each(@md_themes, {
			:host-context(body.theme-@{value}) & {
				color: ~"@{md_theme-@{value}_subtle}";
				
				&.selected {
					color: ~"@{md_theme-@{value}_body--text}";
				}
			}
		});
	}
}

:host.right ul li {
	text-align: right;
}
:host.center ul li {
	text-align: center;
}
