@charset 'utf-8';

@import (less) '../../less/common/fonts.less';
@import (less) '../../less/sizes.less';
@import (less) '../../less/common/palette.less';
@import (less) '../../less/common/speed.less';

@width: 38px;
@height: 24px;
@bar--height: 14px;
@dragger--diameter: 20px;

@pressed--diameter: 35px;

@pressed--pad: @pressed--diameter - @dragger--diameter;

section {
	display: block;
	width: 100%;
	height: @height;
	box-sizing: border-box;

	font-family: @md_font_family;
	font-size: @md_font_subheading--size;
	line-height: @md_font_subheading--size;
	
	padding-top: ((@height - @md_font_subheading--size) / 2);
	margin: 20px 0;

	each(@md_themes, {
		:host-context(body.theme-@{value}.theme-light) & {
			color: ~"@{md_theme-@{value}_body--text}";
		}
		:host-context(body.theme-@{value}.theme-dark) & {
			color: ~"@{md_theme-@{value}_body--text--invert}";
		}
	});

	aside[switch] {
		display: block;
		box-sizing: border-box;
		width: @width;
		height: @height;
		
		position: relative;
		top: -((@height - @md_font_subheading--size) / 2); /* undo the padding without having to use position absolute */
		left: 0;
		float: right;
	}

	aside[bar] {
		position: absolute;
		top: ((@height - @bar--height) / 2);
		left: ((@dragger--diameter - @bar--height) / 2);
		width: @width - (@dragger--diameter - @bar--height);
		height: @bar--height;
		border-radius: (@bar--height / 2);
		
		transition: background-color @speed--normal linear;

		each(@md_themes, {
			:host-context(body.theme-@{value}.theme-light) & {
				@color-a: "md_theme-@{value}_body--text";
				background-color: fade(@@color-a, 38%);
			}
			:host-context(body.theme-@{value}.theme-dark) & {
				@color-a: "md_theme-@{value}_body--text--invert";
				background-color: fade(@@color-a, 38%);
			}
		});
	}
	
	aside[dragger] {
		position: absolute;
		top: ((@height - @dragger--diameter) / 2);
		left: 0;

		width: @dragger--diameter;
		height: @dragger--diameter;
		border-radius: (@dragger--diameter / 2);
		
		transition: background-color @speed--normal linear, left @speed--normal ease-in-out;

		each(@md_themes, {
			:host-context(body.theme-@{value}.theme-light) & {
				background-color: ~"@{md_theme-@{value}_body--background--greyscale}";
				box-shadow: 0.7px 1px 5px -0.3px ~"@{md_theme-@{value}_shadow}";
			}
			:host-context(body.theme-@{value}.theme-dark) & {
				background-color: ~"@{md_theme-@{value}_body--background--greyscale--invert}";
				box-shadow: -0.7px -1px 5px -0.3px ~"@{md_theme-@{value}_shadow--dark}";
			}
		});
	}
	
	aside[pressed] {
		position: absolute;
		top: ((@height - @dragger--diameter) / 2) - @pressed--pad;
		left: -@pressed--pad;

		width: @dragger--diameter + (@pressed--pad * 2);
		height: @dragger--diameter + (@pressed--pad * 2);
		border-radius: ((@dragger--diameter + (@pressed--pad * 2)) / 2);
		
		each(@md_themes, {
			:host-context(body.theme-@{value}) & {
				background-color: ~"@{theme-@{value}_secondary}";
			}
		});
		
		opacity: 0;
		transition: opacity @speed--normal ease-in-out, background-color @speed--normal linear, left @speed--normal ease-in-out;
		
		&.active {
			opacity: 0.2;
		}
	}
	
	&.on {
		aside[bar] {
			each(@md_themes, {
				:host-context(body.theme-@{value}.theme-light) & {
					@color-a: "theme-@{value}_primary";
					background-color: fade(@@color-a, 50%);
				}
				:host-context(body.theme-@{value}.theme-dark) & {
					@color-a: "theme-@{value}_primary";
					background-color: fade(@@color-a, 50%);
				}
			});
		}
		
		aside[dragger] {
			left: @width - @dragger--diameter;	/* use this rather than left:auto right:0 so that the transition works */

			each(@md_themes, {
				:host-context(body.theme-@{value}.theme-light) & {
					background-color: ~"@{theme-@{value}_primary}";
				}
				:host-context(body.theme-@{value}.theme-dark) & {
					background-color: ~"@{theme-@{value}_primary}";
				}
			});
		}
		
		aside[pressed] {
			left: @width - @dragger--diameter - @pressed--pad;
		}
	}
	
	&.disabled {
		aside[bar] {
			each(@md_themes, {
				:host-context(body.theme-@{value}.theme-light) & {
					@color-a: "md_theme-@{value}_body--text";
					background-color: fade(@@color-a, 12%);
				}
				:host-context(body.theme-@{value}.theme-dark) & {
					@color-a: "md_theme-@{value}_body--text--invert";
					background-color: fade(@@color-a, 12%);
				}
			});
		}
		
		aside[dragger] {
			left: 0;
			box-shadow: none;

			each(@md_themes, {
				:host-context(body.theme-@{value}.theme-light) & {
					background-color: ~"@{md_theme-@{value}_subtler}";
				}
				:host-context(body.theme-@{value}.theme-dark) & {
					background-color: ~"@{md_theme-@{value}_subtler--dark}";
				}
			});
		}
		
		each(@md_themes, {
			:host-context(body.theme-@{value}.theme-light) & {
				color: ~"@{md_theme-@{value}_disabled}";
			}
			:host-context(body.theme-@{value}.theme-dark) & {
				color: ~"@{md_theme-@{value}_disabled}";
			}
		});
	}
}
