<section
		[class.on]="this.panning ? this.pan : this.on"
		[class.disabled]="this.disabled"
		(click)="this.doToggle();"
		(mousedown)="this.doActive(true);"
		(mouseup)="this.doActive(false);"
		(touchstart)="this.doActive(true);"
		(touchend)="this.doActive(false);"
>
	<aside switch>
		<aside pressed
				[class.active]="this.active"
		></aside>
		<aside bar></aside>
		<aside dragger
				(panstart)="this.doPanStart();"
				(panmove)="this.doPanMove($event);"
				(panend)="this.doPanEnd();"
		></aside>
	</aside>
	<ng-content></ng-content>
</section>
