@charset 'utf-8';

@import (less) '../../less/common/palette.less';
@import (less) '../../less/sizes.less';
@import (less) '../../less/common/fonts.less';

@item--height: 40px;
@padding--horizontal: 16px;

@icon--size: @md_icon_normal--size;

@item__padding--vertical: 10px;
@item__icon--width: 40px;
@item__icon__padding--vertical: -6px;

li {
	display: block;
	box-sizing: border-box;

	width: 100%;
	padding: @item__padding--vertical @padding--horizontal;
	height: @item--height;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	
	cursor: pointer;
	&.disabled {
		cursor: inherit;
	}
	
	text-decoration: none;

	font-family: @md_font_family;
	font-size: @md_font_subheading--size;
	font-weight: @md_font_subheading--weight;
	line-height: @md_font_subheading--size;

	each(@md_themes, {
		body.theme-@{value} :host & {
			color: ~"@{md_theme-@{value}_body--background--greyscale--invert}";
			
			&.disabled {
				color: ~"@{md_theme-@{value}_disabled}";
			}
		}
	});
	
	i {
		display: block;
		float: left;
		width: @item__icon--width;
		font-size: @icon--size;
		line-height: @icon--size;
		
		position: relative;
		top: ((@md_font_subheading--size - @icon--size) / 2);
		
		&.filler {
			height: @item--height;
		}
	}
}

:host.indent-without-icon li {
	padding-left: @padding--horizontal + @item__icon--width
}
