@charset 'utf-8';

@import (less) '../../less/sizes.less';

main {
	display: block;
	
	position: relative;
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	top: @md_size_toolbar--height;
	padding-bottom: @md_size_bottomnavigationbar--height;
	
	:host.no-bottom-bar & {
		padding-bottom: 0;
	}
}
