<aside>
	<commons-editor-display
			[pre]="this.pre"
			[post]="this.post"
			(onMove)="this.doMove($event);"
	></commons-editor-display>
	<commons-keyboard
			[keyboard]="this.keyboard"
			[disableOk]="!this.allowEmpty && this.characters.length < this.minLength"
			[disableBackspace]="!this.characters.length"
			[disableCharacters]="this.characters.length >= this.maxLength"
			(onCharacter)="this.doCharacter($event);"
			(onOk)="this.doOk();"
			(onCancel)="this.doCancel();"
			(onBackspace)="this.doBackspace();"
	></commons-keyboard>
</aside>
