@charset 'utf-8';

@import (less) '../../less/common/fonts.less';
@import (less) '../../less/common/sizes.less';
@import (less) '../../less/common/palette.less';

aside {
	display: block;

	each(@md_themes, {
		:host-context(body.theme-@{value}) & {
			background-color: ~"@{md_theme-@{value}_subtlest}";
		}
	});
}
