<aside
		(click)="this.doClickOff();"
></aside>
<section container>
	<dialog open>
		<div title><h4><ng-content select="[title]"></ng-content></h4></div>
		<p><ng-content select="[message]"></ng-content></p>
		
		<div buttons #buttons>
			<button commons-button *ngFor="let button of this.preDeleteButtons"
				[class.is-default]="this.defaultButton === button"
				[disabled]="this.isButtonDisabled(button)"
				(click)="this.buttonClick.emit(button);"
			>{{((button === 'OK' || button === '_delete' || button === 'Yes') && this.countdown !== undefined && this.countdown > 0) ? this.countdown : button}}</button>
	
			<button commons-button *ngIf="this.hasDeleteButton" class="icon small"
				[class.is-default]="this.defaultButton === '_delete'"
				[disabled]="this.isButtonDisabled('_delete')"
				(click)="this.buttonClick.emit('_delete');"
			>
				<ng-container *ngIf="this.countdown !== undefined && this.countdown > 0; else immediate">
					{{this.countdown}}
				</ng-container>
				<ng-template #immediate><i class="material-icons">delete</i></ng-template>
			</button>
	
			<button commons-button *ngFor="let button of this.postDeleteButtons"
				[class.is-default]="this.defaultButton === button"
				[disabled]="this.isButtonDisabled(button)"
				(click)="this.buttonClick.emit(button);"
			>{{((button === 'OK' || button === '_delete' || button === 'Yes') && this.countdown !== undefined && this.countdown > 0) ? this.countdown : button}}</button>
		</div>
	</dialog>
</section>
