@charset 'utf-8';

@import (less) '../../less/common/palette.less';
@import (less) '../../less/common/fonts.less';
@import (less) '../../less/common/sizes.less';
@import (less) '../../less/common/layout.less';

:host {
	/* all of these are largely to reset the default browser styles for dialog tags */
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100vw;
	height: 100vh;
	border: 0;
	margin: 0;
	padding: 0;
	background-color: transparent;
	
	z-index: @md_elevation_scrimmed + 2;
}

aside {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	
	z-index: @md_elevation_scrimmed;
	
	each(@md_themes, {
		:host-context(body.theme-@{value}.theme-light) & {
			background-color: ~"@{md_theme-@{value}_modal--background}";
		}
		:host-context(body.theme-@{value}.theme-dark) & {
			background-color: ~"@{md_theme-@{value}_modal--background--dark}";
		}
	});
}

section[container] {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	
	display: grid;
	align-items: center;
	justify-items: center;
	
	width: 100vw;
	height: 100vh;
	
	z-index: @md_elevation_scrimmed;

	/* the aside needs to accept the click-off */
	pointer-events: none;
}

dialog {
	display: block;
	width: 50vw;
	max-width: 450px;
	height: 50vh;
	max-height: 400px;

	/* undo the above */
	pointer-events: all;
	
	:host.compact & {
		max-width: 350px;
		max-height: 280px;
	}
	
	position: relative;
	top: 0;
	left: 0;
	
	each(@md_themes, {
		:host-context(body.theme-@{value}.theme-light) & {
			background-color: ~"@{theme-@{value}_body--background}";
			color: ~"@{md_theme-@{value}_body--text}";
		}
		:host-context(body.theme-@{value}.theme-dark) & {
			background-color: ~"@{md_theme-@{value}_body--background--greyscale--invert}";
			color: ~"@{md_theme-@{value}_body--text--invert}";
		}
	});
	
	border: 0;
	margin: 0;
	padding: 0;
	
	@media only screen and (max-width: 560px) {
		min-width: 280px;
	}
	
	@media only screen and (max-height: 560px) {
		min-height: 280px;
	}
	
	&::backdrop {
		display: none;
	}
}

:host.primaryTitle div[title] {
	height: @md_font_title--size + (30px + 20px);

	each(@md_themes, {
		:host-context(body.theme-@{value}) & {
			background-color: ~"@{theme-@{value}_primary}";
			color: ~"@{theme-@{value}_primary--text}";
		}
	});
}

:host.timePicker dialog {
	max-width: 280px;
	max-height: 375px;
}

p,
h4 {
	position: absolute;
	left: 0;
	right: 0;
	padding: 0;

	font-family: @md_font_family;
}

h4 {
	top: 0;
	margin: 30px 20px;
	
	font-size: @md_font_title--size;
	font-weight: @md_font_title--weight;
	line-height: @md_font_title--size;
}

p {
	position: absolute;
	top: 75px;
	margin: 0 20px;
	
	font-size: @md_font_body1--size;
	font-weight: @md_font_body1--weight;
	line-height: @md_font_body1--size * @md_text--lineheight;
}

div[buttons] {
	position: absolute;
	bottom: 20px;
	right: 10px;
	
	height: @md_size_button--height;
	
	button.icon {
		position: relative;
		top: 5px;
	}
}
