<td *ngIf="this.selectable !== undefined">
	<commons-checkbox
			[disabled]="this.disabled"
			[(checked)]="this.selected"
			(checkedChange)="this.doSelected();"
	></commons-checkbox>
</td>
<ng-content></ng-content>
