@charset 'utf-8';

@theme-blue_primary: #304ffe;
@theme-blue_primary--light: #7a7cff;
@theme-blue_primary--dark: #0026ca;
@theme-blue_primary--text: #ffffff;

@theme-blue_secondary: #ffc107;
@theme-blue_secondary--light: #fff350;
@theme-blue_secondary--dark: #c79100;
@theme-blue_secondary--text: #000000;

@theme-blue_error: #e63322;
@theme-blue_error--text: #ffffff;

@theme-blue_success: #8bc34a;
@theme-blue_success--text: #000000;

@theme-blue_body--background: #ffffff;
@theme-blue_hyperlink: #1857d6;
