@charset 'utf-8';

@import (less) './common/fonts.less';

@md_size_cylinder-picker--gap--vertical: 5px;
@md_size_cylinder-picker--items: 5;

@md_size_cylinder-picker-item--height: (@md_font_headline--size * @md_text--lineheight) + (2 * @md_size_cylinder-picker--gap--vertical);
@md_size_cylinder-picker--height: @md_size_cylinder-picker-item--height * @md_size_cylinder-picker--items;

@md_size_cylinder-picker-date-day--width: 65px;
@md_size_cylinder-picker-date-month--width: 140px;
@md_size_cylinder-picker-date-month--width--short: 75px;
@md_size_cylinder-picker-date-year--width: 85px;
@md_size_cylinder-picker-date-year--width--short: 65px;
@md_size_cylinder-picker-time-hour--width: 65px;
@md_size_cylinder-picker-time-minute--width: 65px;

@md_size_cylinder-picker-separator--padding: (@md_size_cylinder-picker-item--height * ((@md_size_cylinder-picker--items - 1) / 2) + 3px);
@md_size_cylinder-picker-separator--width: 20px;

@md_size_cylinder-picker-date--width: @md_size_cylinder-picker-date-day--width + @md_size_cylinder-picker-date-month--width + @md_size_cylinder-picker-date-year--width + (2 * @md_size_cylinder-picker-separator--width);
@md_size_cylinder-picker-date--width--short: @md_size_cylinder-picker-date-day--width + @md_size_cylinder-picker-date-month--width--short + @md_size_cylinder-picker-date-year--width--short + (2 * @md_size_cylinder-picker-separator--width);
@md_size_cylinder-picker-time--width: @md_size_cylinder-picker-time-hour--width + @md_size_cylinder-picker-time-minute--width + (1 * @md_size_cylinder-picker-separator--width);
