@charset 'utf-8';

@import (less) '../../less/sizes.less';

div.centering.time {
	padding-left: ~'calc((100% - ' @md_size_cylinder-picker-time--width ~') / 2)';
}
div.centering.date {
	padding-left: ~'calc((100% - ' @md_size_cylinder-picker-date--width--short ~') / 2)';
}
