<dialog commons-dialog open full *ngIf="this.dialogs.length"
		class="timePicker primaryTitle"
		[buttons]="this.listButtons(this.dialogs[0])"
		(buttonClick)="this.doButton(this.dialogs[0], $event);"
		(clickOff)="this.doButton(this.dialogs[0], 'Cancel')"
>
	<span title>{{this.dialogs[0].title}}</span>
	<span message>
		<div class="centering date" *ngIf="this.dialogs[0].type === 'date' || (this.dialogs[0].type === 'datetime' && this.stage === 'date')">
			<commons-cylinder-picker-date
					[short]="true"
					[wrapping]="true"
					[(timestamp)]="this.dialogs[0].timestamp"
			></commons-cylinder-picker-date>
		</div>
		<div class="centering time" *ngIf="this.dialogs[0].type === 'time' || (this.dialogs[0].type === 'datetime' && this.stage === 'time')">
			<commons-cylinder-picker-time
					[wrapping]="true"
					[(timestamp)]="this.dialogs[0].timestamp"
			></commons-cylinder-picker-time>
		</div>
	</span>
</dialog>
