<commons-inline-menu *ngIf="this.menuVisible"
		class="overflow"
		[name]="'_overflow'"
		(pick)="this.doSelect($event);"
>
	<ng-container *ngFor="let item of this.items">
		<commons-inline-menu-item
				[menu]="'_overflow'"
				[autoClose]="true"
				(click)="this.doSelect(item);"
		>
			<i class="material-icons" *ngIf="item.icon">{{item.icon}}</i>
			<i class="material-icons filler" *ngIf="!item.icon">check</i>
			{{item.caption}}
		</commons-inline-menu-item>
	</ng-container>
</commons-inline-menu>
