<aside
		[class.ignorable]="this.allowIgnore"
>
	<i class="material-icons info">info</i>
	<i class="material-icons error">warning</i>
	<i class="material-icons notification">priority_high</i>
	<i class="material-icons success">check</i>
	<i class="material-icons help">lightbulb_outline</i>
	<i class="material-icons ignore" *ngIf="this.allowIgnore"
			(click)="this.ignore.emit();"
	>close</i>
	<span><ng-content></ng-content></span>
</aside>
