@charset 'utf-8';

@import (less) '../../less/common/palette.less';
@import (less) '../../less/common/sizes.less';
@import (less) '../../less/common/fonts.less';

:host i.info,
:host i.error,
:host i.notification,
:host i.success,
:host i.help,
:host i.subtle {
	grid-area: icon;
	display: none;
}

:host[info] i.info {
	display: inline-block;
}
:host[error] i.error {
	display: inline-block;
}
:host[notification] i.notification {
	display: inline-block;
}
:host[success] i.success {
	display: inline-block;
}
:host[help] i.help {
	display: inline-block;
}
:host[subtle] i.info {
	display: inline-block;
}

aside {
	position: relative;
	top: 0;
	left: 0;

	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas: 'message';
	grid-column-gap: 1em;
	align-items: center;

	&.ignorable {
		grid-template-columns: 1fr 24px;
		grid-template-areas: 'message ignore';
	}
	
	width: 100%;
	height: @md_size_infoline--height;
	box-sizing: border-box;
	
	span {
		grid-area: message;

		font-family: @md_font_family;
		font-size: @md_font_body2--size;
		font-weight: @md_font_body2--weight;
		line-height: @md_font_body2--size * 1.15em;	/* to allow below the line pixels, g, q, j etc. */
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		
		text-align: left;
	}

	padding-left: 1em;
	padding-right: 1em;
	margin: 20px 0 10px 0;

	each(@md_themes, {
		:host-context(body.theme-@{value}.theme-light) & {
			background-color: ~"@{md_theme-@{value}_body--background--greyscale}";
			color: ~"@{md_theme-@{value}_body--background--greyscale--invert}";
		}
		:host-context(body.theme-@{value}.theme-dark) & {
			background-color: ~"@{md_theme-@{value}_body--background--greyscale--invert}";
			color: ~"@{md_theme-@{value}_body--background--greyscale}";
		}
	});

	i.ignore {
		grid-area: ignore;
		display: inline-block;
	}
}

:host[info],
:host[error],
:host[notification],
:host[success],
:host[help],
:host[subtle] {
	aside {
		grid-template-columns: 24px 1fr;
		grid-template-areas: 'icon message';
		
		&.ignorable {
			grid-template-columns: 24px 1fr 24px;
			grid-template-areas: 'icon message ignore';
		}
	}
}

:host.compact {
	aside {
		margin: 0;
	}
}

each(@md_themes, {
	:host-context(body.theme-@{value})[info] aside,
	:host-context(body.theme-@{value}.theme-light)[info] aside,
	:host-context(body.theme-@{value}.theme-dark)[info] aside {
			background-color: ~"@{theme-@{value}_primary}";
		color: ~"@{theme-@{value}_primary--text}";
	}
	:host-context(body.theme-@{value})[error] aside,
	:host-context(body.theme-@{value}.theme-light)[error] aside,
	:host-context(body.theme-@{value}.theme-dark)[error] aside {
		background-color: ~"@{theme-@{value}_error}";
		color: ~"@{theme-@{value}_error--text}";
	}
	:host-context(body.theme-@{value})[notification] aside,
	:host-context(body.theme-@{value}.theme-light)[notification] aside,
	:host-context(body.theme-@{value}.theme-dark)[notification] aside {
		background-color: ~"@{theme-@{value}_secondary}";
		color: ~"@{theme-@{value}_secondary--text}";
	}
	:host-context(body.theme-@{value})[success] aside,
	:host-context(body.theme-@{value}.theme-light)[success] aside,
	:host-context(body.theme-@{value}.theme-dark)[success] aside {
		background-color: ~"@{theme-@{value}_success}";
		color: ~"@{theme-@{value}_success--text}";
	}
	:host-context(body.theme-@{value})[help] aside,
	:host-context(body.theme-@{value}.theme-light)[help] aside,
	:host-context(body.theme-@{value}.theme-dark)[help] aside {
		@color-var-name-a: "theme-@{value}_body--background";
		@color-var-name-b: "theme-@{value}_secondary--light";
		background-color: mix(@@color-var-name-a, @@color-var-name-b, 70%);
		color: ~"@{theme-@{value}_secondary--text}";
	}
	:host-context(body.theme-@{value}.theme-light)[subtle] aside {
		background-color: ~"@{md_theme-@{value}_subtle}";
		color: ~"@{md_theme-@{value}_body--text}";
	}
	:host-context(body.theme-@{value}.theme-dark)[subtle] aside {
		background-color: ~"@{md_theme-@{value}_subtle--dark}";
		color: ~"@{md_theme-@{value}_body--background--greyscale--invert}";
	}
	:host-context(body.theme-@{value}.theme-light)[subtler] aside {
		background-color: ~"@{md_theme-@{value}_subtler}";
		color: ~"@{md_theme-@{value}_body--text}";
	}
	:host-context(body.theme-@{value}.theme-dark)[subtler] aside {
		background-color: ~"@{md_theme-@{value}_subtler--dark}";
		color: ~"@{md_theme-@{value}_body--background--greyscale--invert}";
	}
	:host-context(body.theme-@{value}.theme-light)[subtlest] aside {
		background-color: ~"@{md_theme-@{value}_subtlest}";
		color: ~"@{md_theme-@{value}_body--text}";
	}
	:host-context(body.theme-@{value}.theme-dark)[subtlest] aside {
		background-color: ~"@{md_theme-@{value}_subtlest--dark}";
		color: ~"@{md_theme-@{value}_body--background--greyscale--invert}";
	}
});
