aside[video] {
	display: grid;
	justify-items: center;
	margin: 24px 0;
	row-gap: 12px;
}

video {
	width: 100%;
	max-width: 500px;
}

video, canvas {
	display: none;

	&.visible {
		display: block;
	}
}

section {
	display: grid;
	grid-template-columns: 1fr auto;
	column-gap: 24px;
	align-items: center;
}

button ::ng-deep i.mdi {
	position: relative;
	top: 2px;
}
