<aside video>
	<video id="player" #player *ngIf="this.isVideoVisible"
			[class.visible]="this.isLive"
	></video>
	<canvas id="canvas" #canvas
			[class.visible]="!this.isLive"
			[width]="this.width"
			[height]="this.height"
	></canvas>
</aside>

<section>
	<commons-textbox
			[placeholder]="'Media device source'"
			[optionsOnly]="true"
			[options]="this.videoNames"
			[clearable]="this.clearable"
			[(value)]="this.videoName"
			(valueChange)="this.doSetVideo();"
	></commons-textbox>
	<button *ngIf="this.isLive" commons-button class="icon filled"
			[disabled]="!this.enabled || !this.isVideoVisible || this.currentPlayer === undefined"
			(click)="this.takeSnapshot();"
	><i class="mdi mdi-camera"></i></button>
	<button *ngIf="!this.isLive" commons-button class="icon raised"
			[disabled]="!this.enabled"
			(click)="this.resetToLive();"
	><i class="mdi mdi-refresh"></i></button>
</section>
