@charset 'utf-8';

@theme-muted_primary: #54637a;
@theme-muted_primary--light: #819ca9;
@theme-muted_primary--dark: #29434e;
@theme-muted_primary--text: #ffffff;

@theme-muted_secondary: #fdd835;
@theme-muted_secondary--light: #ffff6b;
@theme-muted_secondary--dark: #c6a700;
@theme-muted_secondary--text: #000000;

@theme-muted_error: #e63322;
@theme-muted_error--text: #ffffff;

@theme-muted_success: #8bc34a;
@theme-muted_success--text: #000000;

@theme-muted_body--background: #ffffff;
@theme-muted_hyperlink: #1857d6;
