ul {
	list-style: none;
	
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: repeat(auto-fit, minmax(1px, 1fr));
	
	height: 56px;
}

ul, li {
	outline: 1px solid red;
	margin: 0;
	padding: 0;
}

li {
	width: 100%;
	height: 100%;
	
	display: grid;
	align-items: center;
	justify-items: center;
}

section[inner] {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto;
	justify-items: center;
	
	label {
		display: none;
	}
	
	li.selected & {
		grid-template-rows: auto auto;

		label {
			display: block;
		}
	}
}

section#cards {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 24px;
}
