<commons-body-background></commons-body-background>

<commons-toolbar
		[title]="'MaterialCommons ES examples'"
>
	<i class="material-icons" commons-toolbar-status 
			[name]="'geolocation'"
	>gps_fixed</i>
	<i class="material-icons" commons-toolbar-status 
			[name]="'socket.io'"
	>wifi</i>
</commons-toolbar>

<commons-drawer-menu>
	<menuitem commons-drawer-menu-item
			[icon]="'lock'"
			[autoClose]="true"
	>Lock screen</menuitem>
</commons-drawer-menu>

<commons-main>

<commons-tab-bar
		[name]="'tester'"
>
	<a commons-tab>test1</a>
	<a commons-tab class="selected" [label]="'Hello'">test2</a>
	<a commons-tab>test3</a>
	<a commons-tab>test4</a>
</commons-tab-bar>

<commons-pane
		[title]="'Example buttons'"
>
	<commons-button-bar>
		<button commons-button>Default</button>
		<button commons-button class="raised">Raised</button>
		<button commons-button class="filled">Filled</button>
		<button commons-button class="filled" disabled>Disabled</button>
	</commons-button-bar>
</commons-pane>

<commons-pane
		[title]="'Example form'"
>
	<commons-switch [(on)]="this.onswitch">Example switch</commons-switch>
	
	<commons-textbox
			[placeholder]="'Tester'"
	></commons-textbox>

	<commons-slider
			[min]="1"
			[max]="10"
			[(value)]="this.slideValue"
			[label]="'Hello there'"
	>Slide me</commons-slider>
</commons-pane>

<commons-pane
		[title]="'Example card'"
>
	<section id="cards">
		<section commons-card>
			<p>This is a test card</p>
		</section>
		<section commons-card>
			<p>This is a test card</p>
		</section>
		<section commons-card class="large-shadow">
			<p>This is a test card</p>
		</section>
	</section>
</commons-pane>

<commons-pane
		[title]="'Example table'"
>
	<table commons-table
			[selectable]="ECommonsTableSelectable.MULTIPLE"
	>
		<thead commons-table-header>
			<tr commons-table-header-columns>
				<th commons-table-header-column
						[name]="'distance'"
						[width]="'90px'"
				>Distance</th>
				<th commons-table-header-column
						[name]="'icons'"
						[width]="'80px'"
				></th>
				<th commons-table-header-column
						[name]="'item'"
						[width]="'1fr'"
				>Item</th>
			</tr>
		</thead>
		<tbody commons-table-body>
			<tr commons-table-body-row>
				<td commons-table-body-cell>
					test 1
				</td>
				<td commons-table-body-cell>
					test 2
				</td>
				<td commons-table-body-cell>
					test 3
				</td>
			</tr>
			<tr commons-table-body-row>
				<td commons-table-body-cell>
					test 1
				</td>
				<td commons-table-body-cell>
					test 2
				</td>
				<td commons-table-body-cell>
					test 3
				</td>
			</tr>
			<tr commons-table-body-row>
				<td commons-table-body-cell>
					test 1
				</td>
				<td commons-table-body-cell>
					test 2
				</td>
				<td commons-table-body-cell>
					test 3
				</td>
			</tr>
		</tbody>
	</table>
</commons-pane>

<commons-pane
		[title]="'Example info lines'"
>
	<commons-info-line [allowIgnore]="true">Help info here</commons-info-line>
	<commons-info-line help [allowIgnore]="true">Help info here</commons-info-line>
	<commons-info-line notification [allowIgnore]="false">Help info here</commons-info-line>
	<commons-info-line error>Help info here</commons-info-line>
	<commons-info-line subtle [allowIgnore]="true">Help info here</commons-info-line>
	<commons-info-line success [allowIgnore]="true">Help info here</commons-info-line>
</commons-pane>

<commons-pane
		[title]="'Example expansion panel'"
>
	<dl commons-expansion-list>
		<commons-expansion-panel class="large-shadow"
				[expanded]="this.showPanel1"
		>
			<dt commons-expansion-panel-title
				[expanded]="this.showPanel1"
				(toggle)="this.showPanel1 = $event;"
			>
				<span title>Expansion panel title 1</span>
			</dt>
			<dd commons-expansion-panel-content>
				<p>Test content</p>
			</dd>
		</commons-expansion-panel>
		<commons-expansion-panel class="large-shadow"
				[expanded]="this.showPanel2"
		>
			<dt commons-expansion-panel-title
				[expanded]="this.showPanel2"
				(toggle)="this.showPanel2 = $event;"
			>
				<span title>Expansion panel title 2</span>
			</dt>
			<dd commons-expansion-panel-content>
				<p>Test content</p>
			</dd>
		</commons-expansion-panel>
		<commons-expansion-panel class="large-shadow"
				[expanded]="this.showPanel3"
		>
			<dt commons-expansion-panel-title
				[expanded]="this.showPanel3"
				(toggle)="this.showPanel3 = $event;"
			>
				<span title>Expansion panel title 3</span>
			</dt>
			<dd commons-expansion-panel-content>
				<p>Test content</p>
			</dd>
		</commons-expansion-panel>
	</dl>
</commons-pane>

</commons-main>

<commons-bottom-navigation-bar>
	<a commons-bottom-navigation-bar-item
			class="selected"
			[icon]="'my_location'"
			[caption]="'Live tracking'"
			[badge]="'12'"
	></a>
	<a commons-bottom-navigation-bar-item
			[icon]="'tag_faces'"
			[caption]="'Feedback'"
	></a>
	<a commons-bottom-navigation-bar-item
			class="show-caption"
			[icon]="'my_location'"
			[caption]="'Live tracking'"
	></a>
</commons-bottom-navigation-bar>
<!-- 			[iconSet]="EMaterialDesignIcons.MDI" -->

<commons-dialogs></commons-dialogs>

<commons-delayed></commons-delayed>

<commons-snackbar
		[timeout]="5000"
		[allowIgnore]="true"
></commons-snackbar>
