@charset 'utf-8';

@import (less) '../../less/common/palette.less';

hr {
	margin: 0;
	display: block;
	box-sizing: border-box;
	
	border: none;
	outline: none;
	
	each(@md_themes, {
		:host-context(body.theme-@{value}) & {
			background-color: ~"@{md_theme-@{value}_subtlest}";
		}
	});
	
	height: 1px;
	padding: 0;
	
	cursor: inherit;
}

:host.drawer hr {
	margin: 20px 0;
}