@charset 'utf-8';

@import (less) '../../less/common/palette.less';
@import (less) '../../less/common/layout.less';

section {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	padding: 0;
	
	z-index: @md_elevation_background;
	
	each(@md_themes, {
		:host-context(body.theme-@{value}.theme-light) & {
			background-color: ~"@{theme-@{value}_body--background}";
		}
		:host-context(body.theme-@{value}.theme-dark) & {
			background-color: ~"@{md_theme-@{value}_body--background--greyscale--invert}";
		}
	});
}
