<section container
		[class.hasHelper]="this.helper !== undefined"
		[class.hasError]="this.error !== undefined"
>
	<i icon class="material-icons"
			[class.hasError]="this.error !== undefined"
			(click)="this.doClick();"
	><ng-container *ngIf="this.date; else time">event</ng-container><ng-template #time>access_time</ng-template></i>
	<label placeholder
			[class.hasError]="this.error !== undefined"
			[class.visible]="this.timestamp"
			[class.focused]="this.focused"
			(click)="this.doClick();"
	>{{this.placeholder}}</label>
	<section datebox
			[class.empty]="!this.timestamp"
			[class.disabled]="this.disabled"
	>
		<span *ngIf="!this.timestamp" class="placeholder"
				(click)="this.doClick();"
		>{{this.placeholder}}</span>
		<span *ngIf="this.date && this.timestamp" class="day"
				(click)="this.doClick();"
		>{{this.getDay()}}</span><span *ngIf="this.date && this.timestamp" class="month"
				(click)="this.doClick();"
		>{{this.getMonth()}}</span><span *ngIf="this.date && this.timestamp" class="year"
				[class.hasTime]="this.time"
				(click)="this.doClick();"
		>{{this.getYear()}}</span><span *ngIf="this.time && this.timestamp" class="hour"
				(click)="this.doClick();"
		>{{this.getHour()}}</span><span *ngIf="this.time && this.timestamp" class="minute"
				(click)="this.doClick();"
		>{{this.getMinute()}}</span>
		<aside underline
				[class.disabled]="this.disabled"
				[class.focused]="this.focused"
		></aside>
		<i clear class="material-icons" *ngIf="this.clearable"
				[class.disabled]="this.disabled"
				[class.focused]="this.focused"
				(click)="this.doClear();"
		>clear</i>
	</section>
	<label helper *ngIf="this.helper !== undefined && this.error === undefined">{{this.helper}}</label>
	<label error *ngIf="this.error !== undefined">{{this.error}}</label>
</section>
