@charset 'utf-8';

@import (less) '../../less/common/fonts.less';
@import (less) '../../less/common/sizes.less';
@import (less) '../../less/common/palette.less';
@import (less) '../../less/common/speed.less';

@fade--height: 10px;
@opaque--height: 7px + (@md_font_caption--size * @md_text--lineheight);

@computed-total--height: @opaque--height + @fade--height;
@opaque--percent: (@opaque--height / @computed-total--height) * 100%;

@helper__gap--height: 7px;

section[container] {
	box-sizing: border-box;
	display: block;
	width: 100%;
	height: 100px;

	margin: 15px 0;
	
	position: relative;
	top: 0;
	left: 0;
	
	&.hasHelper, &.hasError {
		height: 100px + @helper__gap--height + @md_font_caption--size;
	}
}
:host.larger {
	section[container] {
		height: 160px;
	
		&.hasHelper, &.hasError {
			height: 160px + @helper__gap--height + @md_font_caption--size;
		}
	}
}
:host.fullHeight {
	section[container] {
		margin: 0;
		height: 100%;
	
		&.hasHelper, &.hasError {
			height: 100%;
		}
	}
}

section[textbox] {
	box-sizing: border-box;
	display: block;
	width: 100%;
	height: 100%;
	
	position: relative;
	top: 0;
	left: 0;

	each(@md_themes, {
		:host-context(body.theme-@{value}) & {
			border: 1px solid ~"@{md_theme-@{value}_subtle}";
			&.disabled {
				border: 1px dashed ~"@{md_theme-@{value}_disabled}";
			}
			&.focused {
				border: 2px solid ~"@{theme-@{value}_primary}";
			}
		}
	});

	border-radius: 2px;
	
	&.hasHelper, &.hasError {
		height: ~'calc(100% - ' (@md_font_caption--size + @helper__gap--height) ~')';
	}
}

textarea {
	position: absolute;
	top: 0;
	left: 0;
	
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	resize: none;
	
	each(@md_themes, {
		:host-context(body.theme-@{value}.theme-light) & {
			background: ~"@{theme-@{value}_body--background}";
			color: ~"@{md_theme-@{value}_body--text}";
	
			&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				color: ~"@{md_theme-@{value}_subtle}";
			}
			&::-moz-placeholder { /* Firefox 19+ */
				color: ~"@{md_theme-@{value}_subtle}";
			}
			&:-ms-input-placeholder { /* IE 10+ */
				color: ~"@{md_theme-@{value}_subtle}";
			}
			&:-moz-placeholder { /* Firefox 18- */
				color: ~"@{md_theme-@{value}_subtle}";
			}
		}
		
		:host-context(body.theme-@{value}.theme-dark) & {
			background: ~"@{md_theme-@{value}_body--background--greyscale--invert}";
			color: ~"@{md_theme-@{value}_body--text--invert}";
	
			&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				color: ~"@{md_theme-@{value}_subtle--dark}";
			}
			&::-moz-placeholder { /* Firefox 19+ */
				color: ~"@{md_theme-@{value}_subtle--dark}";
			}
			&:-ms-input-placeholder { /* IE 10+ */
				color: ~"@{md_theme-@{value}_subtle--dark}";
			}
			&:-moz-placeholder { /* Firefox 18- */
				color: ~"@{md_theme-@{value}_subtle--dark}";
			}
		}
	
		:host-context(body.theme-@{value}) & {
			&[disabled] {
				color: ~"@{md_theme-@{value}_disabled}";
				
				&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
					color: ~"@{md_theme-@{value}_disabled}";
				}
				&::-moz-placeholder { /* Firefox 19+ */
					color: ~"@{md_theme-@{value}_disabled}";
				}
				&:-ms-input-placeholder { /* IE 10+ */
					color: ~"@{md_theme-@{value}_disabled}";
				}
				&:-moz-placeholder { /* Firefox 18- */
					color: ~"@{md_theme-@{value}_disabled}";
				}
			}
		}
	});
	
	border: none;
	outline: none;

	font-family: @md_font_family;
	font-size: @md_font_subheading--size;
	line-height: @md_font_subheading--size * @md_text--lineheight;
	font-weight: @md_font_subheading--weight;

	each(@md_themes, {
		:host-context(body.theme-@{value}) & {
			caret-color: ~"@{theme-@{value}_primary}";
		}
	});
	
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	
	padding: 20px 15px 15px 15px;
	
	&.nonempty {
		padding-top: 30px;
	}
}

section.focused textarea {
	padding: 19px 14px 14px 14px;
	
	&.nonempty {
		padding-top: 29px;
	}
}

label {
	display: block;
	box-sizing: border-box;

	font-family: @md_font_family;
	font-weight: @md_font_caption--weight;

	each(@md_themes, {
		:host-context(body.theme-@{value}.theme-light) & {
			color: ~"@{md_theme-@{value}_subtle}";
		}
		:host-context(body.theme-@{value}.theme-dark) & {
			color: ~"@{md_theme-@{value}_subtle--dark}";
		}
	});
}

label[placeholder] {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: @computed-total--height;

	each(@md_themes, {
		:host-context(body.theme-@{value}) & {
			&.focused {
				color: ~"@{theme-@{value}_primary}";
			}
		}
	});

	font-size: @md_font_subheading--size;
	line-height: @md_font_subheading--size;
	
	opacity: 0;
	padding-top: 15px;
	padding-left: 15px;
	padding-bottom: @fade--height;
	
	transition: opacity @speed--normal linear, padding-top @speed--normal ease-in-out, font-size @speed--normal ease-in-out, line-height @speed--normal ease-in-out;
	
	each(@md_themes, {
		:host-context(body.theme-@{value}.theme-light) & {
			background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) @opaque--percent, rgba(255, 255, 255, 0) 100%);
		}
		:host-context(body.theme-@{value}.theme-dark) & {
			background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) @opaque--percent, rgba(0, 0, 0, 0) 100%);
		}
	});
	
	z-index: -100;
	
	&.visible {
		opacity: 1;
		
		font-size: @md_font_caption--size;
		line-height: @md_font_caption--size;

		padding-top: 7px;

		z-index: auto;
	}
}

label[helper], label[error] {
	font-size: @md_font_caption--size;
	line-height: @md_font_caption--size;
	
	position: absolute;
	bottom: 0;
	left: 0;
}
