<section container
		[class.hasHelper]="this.helper !== undefined && this.error === undefined"
		[class.hasError]="this.error !== undefined"
>
	<section textbox
			[class.focused]="this.focused"
			[class.disabled]="this.disabled"
			[class.hasHelper]="this.helper !== undefined && this.error === undefined"
			[class.hasError]="this.error !== undefined"
	>
		<textarea #textarea
				[class.nonempty]="this.getValue() !== ''"
				[maxlength]="this.maxLength || null"
				[disabled]="this.disabled"
				[placeholder]="this.getValue() !== '' ? '' : this.placeholder"
				[(ngModel)]="this.value"
				(ngModelChange)="this.doChanged($event);"
				(focus)="this.doFocus(true);"
				(focusout)="this.doFocus(false);"
		></textarea>
		<label placeholder
				[class.visible]="this.getValue() !== ''"
				[class.focused]="this.focused"
		>{{this.placeholder}}</label>
	</section>
	<label helper *ngIf="this.helper !== undefined && this.error === undefined">{{this.helper}}</label>
	<label error *ngIf="this.error !== undefined">{{this.error}}</label>
</section>
