@charset 'utf-8';

@import (less) '../../less/common/palette.less';
@import (less) '../../less/common/fonts.less';
@import (less) '../../less/common/sizes.less';
@import (less) '../../less/common/layout.less';

@key--height: 43px;
@text--height: @md_font_display1--size;
@gap: 50px;

aside {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	
	each(@md_themes, {
		:host-context(body.theme-@{value}) & {
			@color-a: "md_theme-@{value}_body--background--greyscale--invert";
			background: fade(@@color-a, 80%);
		}
	});
	
	width: 100vw;
	height: 100vh;
	border: 0;
	margin: 0;
	padding: 0;
	
	z-index: @md_elevation_scrimmed-topmost;
}

commons-keyboard {
	position: fixed;
	top: ~'calc(50vh - ' (@key--height * 1) ~')';
	left: 0;
	right: 0;

	::ng-deep {
		commons-keyboard-key button {
			each(@md_themes, {
				:host-context(body.theme-@{value}) & {
					color: ~"@{md_theme-@{value}_body--background--greyscale}";
				}
			});
		}
	}
}

p {
	position: fixed;
	top: ~'calc(50vh - ' (((@key--height * 1) + (@text--height + @gap) * 2)) ~')';
	left: 0;
	right: 0;

	box-sizing: border-box;
	width: 100%;
	height: @text--height;
	
	list-style: none;
	margin: 0;
	padding: 0;

	font-family: @md_font_family;
	font-weight: @md_font_subheading--weight;
	font-size: @md_font_subheading--size;
	line-height: @md_font_subheading--size;
	
	text-align: center;

	each(@md_themes, {
		:host-context(body.theme-@{value}) & {
			color: ~"@{md_theme-@{value}_subtle}";
		}
	});
}

ul {
	position: fixed;
	top: ~'calc(50vh - ' ((@key--height * 1) + @text--height + @gap) ~')';
	left: 0;
	right: 0;

	box-sizing: border-box;
	width: 100%;
	height: @text--height;
	
	list-style: none;
	margin: 0;
	padding: 0;

	font-family: @md_font_family;
	font-weight: @md_font_display1--weight;
	font-size: @md_font_display1--size;
	line-height: @md_font_display1--size;
	
	text-align: center;
	
	li {
		display: inline-block;
		margin: 0;
		text-align: center;
		width: 35px;

		each(@md_themes, {
			:host-context(body.theme-@{value}) & {
				color: ~"@{md_theme-@{value}_body--background--greyscale}";
			}
		});
		
		i {
			font-size: 0.8em;
		}
	}
}
