<dialog commons-dialog open full *ngIf="this.dialogs.length"
		[buttons]="this.dialogs[0].buttons"
		[countdown]="this.dialogs[0].countdown"
		[defaultButton]="this.dialogs[0].defaultButton"
		(buttonClick)="this.doButton(this.dialogs[0], $event);"
		(clickOff)="this.doClickOff(this.dialogs[0]);"
>
	<span title>{{this.dialogs[0].title}}</span>
	<span message *ngIf="this.dialogs[0].message">{{this.dialogs[0].message}}</span>
</dialog>
