@charset 'utf-8';

@import (less) '../../less/common/palette.less';
@import (less) '../../less/common/layout.less';

aside {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: @md_elevation_scrimmed;
	
	each(@md_themes, {
		body.theme-@{value}.theme-light :host & {
			background-color: ~"@{md_theme-@{value}_modal--background}";
		}
		body.theme-@{value}.theme-dark :host & {
			background-color: ~"@{md_theme-@{value}_modal--background--dark}";
		}
	});
}

section {
	display: block;
	position: fixed;
	box-sizing: border-box;

	z-index: @md_elevation_scrimmed + 1;

	&.left {	
		top: 0;
		left: 0;
	}
	&.bottom {
		bottom: 0;
		left: 0;
	}
	&.right {	
		top: 0;
		right: 0;
	}
	&.top {
		top: 0;
		left: 0;
	}
	
	margin: 0;
	padding: 0;
}
