<commons-drawer
		[name]="'_editor'"
		[direction]="ECommonsDrawerDirection.BOTTOM"
>
	<section><commons-editor *ngIf="this.show"
			[keyboard]="this.keyboard"
			[value]="this.value"
			[allowEmpty]="this.allowEmpty"
			[maxLength]="this.maxLength"
			[minLength]="this.minLength"
			(onCancel)="this.doCancel();"
			(onOk)="this.doOk($event);"
	></commons-editor></section>
</commons-drawer>
