@charset 'utf-8';

@import (less) '../../less/common/fonts.less';
@import (less) '../../less/common/palette.less';
@import (less) '../../less/sizes.less';

section {
	display: block;
	box-sizing: border-box;
	font-size: 0;
	
	&[container] {
		width: @md_size_cylinder-picker-time--width;
	}
	
	&[hour], &[minute] {
		display: inline-block;
	}
	
	&[hour] {
		width: @md_size_cylinder-picker-time-hour--width;
	}
	
	&[minute] {
		width: @md_size_cylinder-picker-time-minute--width;
	}
}

aside {
	display: inline-block;
	box-sizing: border-box;
	font-size: 12px;
	text-align: center;
	
	overflow: hidden;
	
	margin: 0;
	padding: @md_size_cylinder-picker-separator--padding 0 0 0;
	width: @md_size_cylinder-picker-separator--width;
	height: @md_size_cylinder-picker--height;

	font-family: @md_font_family;
	line-height: @md_font_headline--size * @md_text--lineheight;
	font-weight: @md_font_headline--weight;
	font-size: @md_font_headline--size;
}
