<section container>
	<section hour>
		<commons-cylinder-picker class="center"
				[items]="this.hours"
				[(item)]="this.hour"
				(itemChange)="this.doTrigger();"
				(onInfinitePrev)="this.doWrapPrevDay();"
				(onInfiniteNext)="this.doWrapNextDay();"
		></commons-cylinder-picker>
	</section>
	<aside>:</aside>
	<section minute>
		<commons-cylinder-picker class="center"
				[items]="this.minutes"
				[(item)]="this.minute"
				(itemChange)="this.doTrigger();"
				(onInfinitePrev)="this.doWrapPrevHour();"
				(onInfiniteNext)="this.doWrapNextHour();"
		></commons-cylinder-picker>
	</section>
</section>