@charset 'utf-8';

@import (less) '../../less/common/fonts.less';
@import (less) '../../less/common/palette.less';

section {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto auto auto auto;
	grid-template-areas:
			'lmain lmain'
			'main main'
			'lleft lright'
			'left right';
	column-gap: 8px;
	row-gap: 10px;

	label.main { grid-area: lmain; }
	label.left { grid-area: lleft; }
	label.right { grid-area: lright; }
	figure.main { grid-area: main; }
	figure.left { grid-area: left; }
	figure.right { grid-area: right; }
}

label, figure {
	display: block;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	
	width: 100%;
	text-align: center;
	
	font-family: @md_font_family;
	
	each(@md_themes, {
		:host-context(body.theme-@{value}.theme-light) & {
			color: ~"@{theme-@{value}_primary}";
		}
		:host-context(body.theme-@{value}.theme-dark) & {
			color: ~"@{theme-@{value}_primary--light}";
		}
	});
}

label {
	font-size: @md_font_title--size;
	font-weight: @md_font_title--weight;
	line-height: @md_font_title--size;
	
	each(@md_themes, {
		:host-context(body.theme-@{value}.theme-light) & {
			color: ~"@{md_theme-@{value}_subtle}";
		}
		:host-context(body.theme-@{value}.theme-dark) & {
			color: ~"@{md_theme-@{value}_subtle--dark}";
		}
	});
	
	@media (max-width: (1280px - 1)) {
		font-size: @md_font_subheading--size;
		line-height: @md_font_subheading--size;
	}
}

figure {
	font-size: @md_font_display2--size;
	font-weight: @md_font_display2--weight;
	line-height: @md_font_display2--size;
	
	@media (max-width: (1280px - 1)) {
		font-size: @md_font_display1--size;
		line-height: @md_font_display1--size;
	}
	
	&.main {
		font-size: @md_font_display4--size;
		font-weight: @md_font_display4--weight;
		line-height: @md_font_display4--size;

		@media (max-width: (1280px - 1)) {
			font-size: @md_font_display3--size;
			line-height: @md_font_display3--size;
		}
	}
	
	aside {
		display: inline-block;
		margin-left: 15px;
		font-size: @md_font_title--size;
		font-weight: 400;
		line-height: @md_font_title--size;
	}
	aside:before {
		content: '(';
	}
	aside:after {
		content: ')';
	}
}
