<section>
	<label class="main">{{ this.label }}</label>
	<figure class="main">{{ this.tally | commonsPrettyFigure }}</figure>
	<label class="left">{{ this.leftLabel || '' }}</label>
	<figure class="left">{{ this.left | commonsPrettyFigure }}<aside *ngIf="this.leftPercent">{{ this.leftPercent | commonsPrettyPercentage:true }}</aside></figure>
	<label class="right">{{ this.rightLabel || ''}}</label>
	<figure class="right">{{ this.right | commonsPrettyFigure }}<aside *ngIf="this.rightPercent">{{ this.rightPercent | commonsPrettyPercentage:true }}</aside></figure>
</section>
