@charset 'utf-8';

@import (less) '../../less/common/fonts.less';
@import (less) '../../less/common/sizes.less';
@import (less) '../../less/common/palette.less';

@height: 43px;
@margin: 4px;

button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	font-family: @md_font_family;
	font-size: @md_font_subheading--size;
	line-height: @md_font_subheading--size;
	font-weight: 500;
	
	box-sizing: border-box;
	padding: 0;
	
	width: 100%;
	height: @height;
	min-width: 0;
	overflow: hidden;
	
	border: 0;
	border-radius: 2px;
	
	margin: 0;
	
	outline: none;	/* remove the click outline */
	
	&.space {
		margin: 10px 0;
		height: @height - (10px * 2);
	}
		
	&.set {
		padding-top: 1px;
		font-size: @md_font_body1--size;
		font-weight: 500;
	}
	
	each(@md_themes, {
		:host-context(body.theme-@{value}) & {
			background-color: transparent;
			color: ~"@{md_theme-@{value}_body--text}";
			
			&.secondary {
				color: ~"@{theme-@{value}_secondary}";
			}
		
			&:active {
				background-color: ~"@{theme-@{value}_secondary}";
				color: ~"@{theme-@{value}_secondary--text}";
			}
			
			&:disabled {
				color: ~"@{md_theme-@{value}_disabled}";
				
				&.disableThemeInvert {
					@color-a: "md_theme-@{value}_modal--background";
					@color-b: "md_theme-@{value}_disabled";
					
					color: mix(@@color-a, @@color-b, 50%);
				}
			}
			
			&.space {
				background: ~"@{md_theme-@{value}_subtler}";
		
				&:active {
					background: ~"@{theme-@{value}_secondary}";
				}
			}
		}
	});
}
