@charset 'utf-8';

@md_elevation_background: -1000;

@md_elevation_scrolling: 1;

@md_elevation_scrolling-raised: 1000;

@md_elevation_scrolling-topmost: 2000;

@md_elevation_fixed: 3000;

@md_elevation_scrimmed: 4000;

@md_elevation_scrimmed-topmost: 5000;

@md_elevation_snackbar: 6000;
