@charset 'utf-8';

@import (less) '../../less/common/fonts.less';
@import (less) '../../less/common/sizes.less';
@import (less) '../../less/common/palette.less';
@import (less) '../../less/common/speed.less';

@text--height: @md_font_title--size + 5px;

@topgap--height: 10px;
@bottomgap--height: 12px;

@icon--width: 24px;
@icon--offset: 20px;
@icon--gap--left: 19px;
@icon--gap--right: 12px;

:host {
	margin: 15px 0;
	&.no-top-gap {
		margin-top: 0;
	}
}

section {
	box-sizing: border-box;
	
	display: block;
	width: 100%;
	height: @text--height + @topgap--height + @bottomgap--height;
	border-radius: 2px;
	overflow: hidden;	/* needed to keep the radius when the input box is there */
	
	position: relative;
	top: 0;
	left: 0;
	
	each(@md_themes, {
		:host-context(body.theme-@{value}) & {
			background-color: ~"@{theme-@{value}_body--background}";
			box-shadow: 0.7px 1px 5px -0.3px ~"@{md_theme-@{value}_shadow}";
		}
	});
}

input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	font-family: @md_font_family;
	font-size: @md_font_title--size;
	line-height: @md_font_title--size;
	font-weight: 400;
	
	box-sizing: border-box;
	display: block;
	margin: 0;
	padding: @topgap--height (@icon--width + @icon--offset + @icon--gap--right) 0  (@icon--width + @icon--offset + @icon--gap--left);
	width: 100%;
	border: 0;
	
	outline: none;
	
	each(@md_themes, {
		:host-context(body.theme-@{value}) & {
			background-color: ~"@{theme-@{value}_body--background}";
			color: ~"@{md_theme-@{value}_body--text}";
	
			&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				color: ~"@{md_theme-@{value}_subtle}";
			}
			&::-moz-placeholder { /* Firefox 19+ */
				color: ~"@{md_theme-@{value}_subtle}";
			}
			&:-ms-input-placeholder { /* IE 10+ */
				color: ~"@{md_theme-@{value}_subtle}";
			}
			&:-moz-placeholder { /* Firefox 18- */
				color: ~"@{md_theme-@{value}_subtle}";
			}
			
			&[disabled] {
				color: ~"@{md_theme-@{value}_disabled}";
				
				&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
					color: ~"@{md_theme-@{value}_disabled}";
				}
				&::-moz-placeholder { /* Firefox 19+ */
					color: ~"@{md_theme-@{value}_disabled}";
				}
				&:-ms-input-placeholder { /* IE 10+ */
					color: ~"@{md_theme-@{value}_disabled}";
				}
				&:-moz-placeholder { /* Firefox 18- */
					color: ~"@{md_theme-@{value}_disabled}";
				}
			}
		}
	});
	
	/* can't do any sizing in here as the browsers don't work reliably with heights and the like on native elements */
}

i.material-icons {
	position: absolute;
	top: @topgap--height + 2;
	
	each(@md_themes, {
		:host-context(body.theme-@{value}) & {
			color: ~"@{md_theme-@{value}_subtle}";
		}
	});
		
	&.left {
		left: @icon--offset;
	}
	&.right {
		right: @icon--offset;
	}

	opacity: 0;	
	&.visible {
		opacity: 1;
	}
}
