<section>
<input #textbox
		type="text"
		placeholder="Search"
		[disabled]="this.disabled"
		[(ngModel)]="this.term"
		(ngModelChange)="this.doChanged($event);"
		(focus)="this.doFocus(true);"
		(focusout)="this.doFocus(false);"
>
<i class="left material-icons"
		[class.visible]="!this.focused"
>search</i>
<i class="left material-icons"
		[class.visible]="this.focused"
		(click)="this.doRevert();"
>arrow_back</i>
<i class="right visible material-icons" *ngIf="this.term !== '' && this.term !== undefined"
		(click)="this.doReset();"
>clear</i>
</section>