@charset 'utf-8';

@import (less) '../../less/common/palette.less';
@import (less) '../../less/common/fonts.less';
@import (less) '../../less/common/sizes.less';

@height: @md_size_details--height;
@font--size: @md_font_subheading--size;

:host {
	display: block;
	margin: 0;
	padding: 0;
	float: left;

	box-sizing: border-box;
	height: @height;
	
	width: @md_size_details__label--width;
}

label {
	position: relative;
	top: 0;

	box-sizing: border-box;
	height: @height;
	
	width: @md_size_details__label--width;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;

	float: left;
	font-family: @md_font_family;
	font-size: @font--size;
	font-weight: 400;
	line-height: @font--size;
	
	each(@md_themes, {
		:host-context(body.theme-@{value}) & {
			color: ~"@{md_theme-@{value}_body--text}";
		}
	});
	
	padding-top: ((@height - @font--size) / 2);
	
	i {
		float: left;
		width: 40px;
		
		position: relative;
		top: -((@height - @font--size) / 2);
		padding-top: ((@height - 24px) / 2);
	}
}

:host.compact {
	width: @md_size_details__label__compact--width;
	
	label {
		width: @md_size_details__label__compact--width;
	}
}
