@charset 'utf-8';

@import (less) '../../less/common/fonts.less';
@import (less) '../../less/sizes.less';
@import (less) '../../less/common/palette.less';

@title--top: 17px;

:host {
	display: block;
	text-decoration: none;
}

section[container] {
	display: grid;
	width: 100%;
	box-sizing: border-box;
	align-items: center;
	justify-items: center;
	
	height: @md_size_tabbar--height;

	section[inner] {
		display: grid;
		grid-template-columns: auto;
	
		&.has-label {
			grid-template-columns: auto auto;
			column-gap: 0.5em;
		}
		&.has-icon {
			grid-template-columns: 24px auto;
			column-gap: 0.5em;
			align-items: center;
		}
		&.has-icon.has-label {
			grid-template-columns: 24px auto auto;
		}
		
		font-family: @md_font_family;
		font-weight: @md_font_subheading--weight;
		font-size: @md_font_body2--size;
		line-height: @md_font_body2--size;
	
		text-transform: uppercase;
		text-align: center;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		text-decoration: none;
		
		span, label {
			display: block;
			overflow: inherit;
			text-overflow: inherit;
		}
		i.material-icons {
			display: block;
		}
		
		label {
			&::before {
				content: '(';
			}
			&::after {
				content: ')';
			}
		}
	}
	
	each(@md_themes, {
		body.theme-@{value} :host & {
			@color-a: "theme-@{value}_primary--text";
			color: fade(@@color-a, 60%);
		}
		body.theme-@{value} :host.unfilled & {
			color: ~"@{md_theme-@{value}_subtle}";
		}
	});
}

:host.unfilled section[container] {
	font-weight: @md_font_body2--weight;
}

:host[disabled] section[container] {
	pointer-events: none;
}

section[container] {
	each(@md_themes, {
		:host-context(body.theme-@{value} .selected) & {
			border-bottom: 3px solid ~"@{theme-@{value}_secondary}";
			color: ~"@{theme-@{value}_primary--text}";
		}

		:host-context(body.theme-@{value} [disabled]) & {
			@color-a: "theme-@{value}_primary--text";
			color: fade(@@color-a, 25%);
		}

		:host-context(body.theme-@{value} .unfilled) & {
			color: ~"@{theme-@{value}_primary}";
		}

		:host-context(body.theme-@{value} .selected.unfilled) & {
			border-bottom: 3px solid ~"@{theme-@{value}_primary}";
			color: ~"@{theme-@{value}_primary}";
		}

		:host-context(body.theme-@{value} [disabled].unfilled) & {
			color: ~"@{md_theme-@{value}_disabled}";
		}
	});
}

:host ::ng-deep i.material-icons:not(.tab-icon) {
	position: relative;
	top: -5px;
}
