<section container>
	<section inner
			[class.has-label]="this.label !== undefined"
			[class.has-icon]="this.icon !== undefined"
	>
		<i *ngIf="this.icon" class="tab-icon material-icons">{{ this.icon }}</i>
		<span><ng-content></ng-content></span>
		<label *ngIf="this.label">{{this.label}}</label>
	</section>
</section>
