@charset 'utf-8';

@import (less) '../../less/common/fonts.less';
@import (less) '../../less/common/sizes.less';
@import (less) '../../less/common/palette.less';

:host {
	&[vertical] ::ng-deep commons-checkbox {
		display: block;
		margin: 20px 0;
	}

	&[horizontal] {
		display: block;
		
		::ng-deep commons-checkbox {
			display: inline-block;
			margin-top: 10px;
			margin-right: 20px;
		}
	}
}
