/* You can add global styles to this file, and also import other style files */

html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: Roboto;
	font-size: 14px;
}

* {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
input,
textarea,
select {
	-webkit-touch-callout: initial !important;
	-webkit-user-select: initial !important;
	-khtml-user-select: initial !important;
	-moz-user-select: initial !important;
	-ms-user-select: initial !important;
	user-select: initial !important;
}

i.mdi {
	font-size: 24px;
	line-height: 1;
	
	&:before {
		font-weight: normal;
		font-style: normal;
		font-size: 24px;
		line-height: 1 !important;
		letter-spacing: normal;
		text-transform: none;
		white-space: nowrap;
		word-wrap: normal;
		direction: ltr;
		font-feature-settings: "liga";
		-webkit-font-feature-settings: "liga";
		-webkit-font-smoothing: antialiased;
		
		overflow: hidden;
	}	
}
