@charset 'utf-8';

@import (less) '../../less/common/palette.less';
@import (less) '../../less/common/fonts.less';
@import (less) '../../less/common/speed.less';

@font--size: 20px;
@font--weight: normal;

@checkbox__font--size: @font--size;

@pressed--diameter: 35px;
@checkbox--size: 20px;

@pressed--pad: @pressed--diameter - @checkbox--size;

button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	box-sizing: border-box;

	border: 2px solid;
	border-radius: 2px;
	
	each(@md_themes, {
		:host-context(body.theme-@{value}.theme-light) & {
			border-color: ~"@{md_theme-@{value}_body--background--greyscale--invert}";
			background: ~"@{md_theme-@{value}_body--background--greyscale}";
			color: ~"@{md_theme-@{value}_body--background--greyscale}";
		}
		:host-context(body.theme-@{value}.theme-dark) & {
			border-color: ~"@{md_theme-@{value}_body--background--greyscale}";
			background: ~"@{md_theme-@{value}_body--background--greyscale--invert}";
			color: ~"@{md_theme-@{value}_body--background--greyscale--invert}";
		}
	});
	
	font-size: @checkbox__font--size;
	line-height: @checkbox__font--size;
	font-weight: normal;
	
	float: left;
	position: relative;
	top: ((@font--size - @checkbox__font--size) / 2) - 2;
	
	width: @checkbox--size;
	height: @checkbox--size;
	margin-right: 15px;
	padding: 0;

	outline: none;	/* remove the click outline */
	
	i {
		font-size: @checkbox__font--size;
		line-height: @checkbox__font--size;
		font-weight: normal;

		position: relative;
		top: -2px;
		left: -2px;
	}

	aside {
		display: block;
		opacity: 0;
		transition: opacity @speed--normal ease-in-out;
		
		position: absolute;
		top: ((@font--size - @checkbox__font--size) / 2) - (2 + @pressed--pad);
		left: -@pressed--pad - 2px;
		width: @checkbox--size + (@pressed--pad * 2);
		height: @checkbox--size + (@pressed--pad * 2);
		border-radius: ((@checkbox--size + (@pressed--pad * 2)) / 2);

		each(@md_themes, {
			:host-context(body.theme-@{value}) & {
				background-color: ~"@{theme-@{value}_secondary}";
			}
		});
	}

	&:active aside {
		opacity: 0.2;
	}
	
	&[disabled] {
		each(@md_themes, {
			:host-context(body.theme-@{value}) & {
				border-color: ~"@{md_theme-@{value}_disabled}";
			}
		});

		&:active aside {
			opacity: 0;
		}
	}
}

button {
	each(@md_themes, {
		:host-context(body.theme-@{value}).checked & {
			background-color: ~"@{theme-@{value}_primary}";
			color: ~"@{theme-@{value}_primary--text}";
			border-color: ~"@{theme-@{value}_primary}";
			
			&[disabled] {
				background-color: ~"@{md_theme-@{value}_disabled}";
				border-color: ~"@{md_theme-@{value}_disabled}";
			}
		}
	});
}

span {
	font-family: @md_font_family;
	font-size: @md_font_subheading--size;
	font-weight: @md_font_subheading--weight;
	line-height: @md_font_subheading--size * @md_text--lineheight;
	
	position: relative;
	top: -3px;
	
	each(@md_themes, {
		:host-context(body.theme-@{value}) & {
			color: ~"@{md_theme-@{value}_body--text}";
		}
	});
}

:host.solo {
	span {
		display: none;
	}
	
	button {
		margin-right: 0;
	}
}
