@charset 'utf-8';

@import (less) '../../less/common/fonts.less';
@import (less) '../../less/common/palette.less';

section[container] {
	display: grid;
	grid-template-rows: auto;
	/* There's an odd known issue where overflow-x: hidden mandates overflow-y: auto[scroll] */
	/* Overflow: hidden seems to work, as there is no explicit height or max-height given */
	/*
	overflow-x: hidden;
	overflow-y: visible;
	*/
	overflow: hidden;
	width: 100%;

	column-gap: 4px;
}

span, label {
	display: block;
	
	text-align: center;

	font-family: @md_font_family;

	width: 100%;
	min-width: 75px;
}

label {
	font-size: @md_font_title--size;
	font-weight: @md_font_title--weight;
	line-height: @md_font_title--size;

	each(@md_themes, {
		:host-context(body.theme-@{value}) & {
			color: ~"@{md_theme-@{value}_subtle}";
		}
	});
}

span {
	font-size: @md_font_display1--size;
	font-weight: @md_font_display1--weight;
	line-height: @md_font_display1--size;
	
	each(@md_themes, {
		:host-context(body.theme-@{value}) & {
			color: ~"@{theme-@{value}_primary}";
		}
	});
}
