<section container #containerelement
		[style.gridTemplateColumns]="this.columns"
>
	<label *ngFor="let label of this.possibleLabels">{{ label }}</label>
	<span *ngFor="let label of this.possibleLabels">{{ this.tallies.get(label) | commonsPrettyFigure}}</span>
</section>
