<section container
		[class.hasHelper]="this.helper !== undefined"
		[class.hasError]="this.error !== undefined"
>
	<label placeholder
			[class.hasError]="this.error !== undefined"
			[class.visible]="this.getValue() !== '' && this.placeholder !== undefined"
			[class.focused]="this.focused"
	>{{this.placeholder}}</label>
	<section textbox
			[class.empty]="this.getValue() === ''"
	>
		<input #textbox
				[class.hasError]="this.error !== undefined"
				[type]="this.getType()"
				[disabled]="this.disabled"
				[placeholder]="this.getValue() !== '' ? '' : this.placeholder"
				[readonly]="!this.editable || (this.options && this.options.length && this.optionsOnly)"
				[(ngModel)]="this.value"
				(ngModelChange)="this.doChanged($event);"
				(focus)="this.doFocus(true);"
				(focusout)="this.doFocus(false);"
				(click)="this.doClick();"
				(keydown.enter)="this.doEnterPressed()"
				(keydown.esc)="this.doEscPressed()"
		>
		<aside underline
				[class.hasError]="this.error !== undefined"
				[class.disabled]="this.disabled"
				[class.focused]="this.focused"
		></aside>
		<i dropper class="material-icons" *ngIf="this.options && this.options.length"
				[class.hasClear]="this.clearable"
				[class.disabled]="this.disabled"
				[class.focused]="this.focused"
				(click)="this.doDropdown();"
		>arrow_drop_down</i>
		<i clear class="material-icons" *ngIf="this.clearable"
				[class.disabled]="this.disabled"
				[class.focused]="this.focused"
				(click)="this.doClear();"
		>clear</i>
		<i clear class="material-icons" *ngIf="this.customIcon"
				[class.disabled]="this.disabled"
				[class.focused]="this.focused"
				(click)="this.doCustomIcon();"
		>{{this.customIcon}}</i>
	</section>
	<label helper *ngIf="this.helper !== undefined && this.error === undefined">{{this.helper}}</label>
	<label error *ngIf="this.error !== undefined">{{this.error}}</label>
</section>
<aside dropdown><commons-inline-menu *ngIf="this.isDropped" class="restricted-height"
		[name]="this.dropdownName"
>
	<ng-container *ngFor="let option of this.options">
		<commons-inline-menu-item
				[menu]="this.dropdownName"
				[autoClose]="true"
				[none]="option === ''"
				(click)="this.doSelect(option);"
		>
			<i *ngIf="this.value === option" class="material-icons">check</i>
			<i *ngIf="this.value !== option" class="material-icons filler"></i>
			{{option}}
		</commons-inline-menu-item>
	</ng-container>
</commons-inline-menu></aside>
