@charset 'utf-8';

@import (less) '../../less/common/fonts.less';
@import (less) '../../less/common/sizes.less';
@import (less) '../../less/common/palette.less';
@import (less) '../../less/common/speed.less';

@label--height: @md_font_caption--size + 2px;
@text--height: @md_font_subheading--size + 5px;

@topgap--height: 5px;	/* 8px the official is too much given natural input font spacing */
@bottomgap--height: 8px;
@helper__gap--height: 7px;

section[container] {
	box-sizing: border-box;
	
	display: block;
	width: 100%;
	height: @label--height + @text--height + @topgap--height + @bottomgap--height;
	
	margin: 15px 0;
	
	position: relative;
	top: 0;
	left: 0;
	
	&.hasHelper, &.hasError {
		height: (@label--height * 2) + @helper__gap--height + @text--height + @topgap--height + @bottomgap--height;
	}
	
	:host.compact & {
		margin: 0;
	}
	:host.inline & {
		height: @text--height + @bottomgap--height;
	}
}
:host {
	display: block;
	box-sizing: border-box;
	
	position: relative;
	top: 0;
	left: 0;
	
	width: 100%;
	
	&.forefront {
		z-index: 500;
		
		&.drawer {
			z-index: auto;
		}
	}
}

aside[underline] {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	
	height: 1px;

	each(@md_themes, {
		:host-context(body.theme-@{value}) & {
			border-bottom: 1px solid ~"@{md_theme-@{value}_subtle}";
		
			&.hasError {
				border-bottom: 1px solid ~"@{theme-@{value}_error}";
			}
			
			&.disabled {
				border-bottom: 1px dashed ~"@{md_theme-@{value}_disabled}";
			}
		
			&.focused {
				border-bottom: 2px solid ~"@{theme-@{value}_primary}";
				
				&.hasError {
					border-bottom-color: ~"@{theme-@{value}_error}";
				}
			}
		}
	});
}

i {
	position: absolute;
	top: 0;
	right: 0;
	
	each(@md_themes, {
		:host-context(body.theme-@{value}.theme-light) & {
			color: ~"@{md_theme-@{value}_subtle}";
		}
		:host-context(body.theme-@{value}.theme-dark) & {
			color: ~"@{md_theme-@{value}_subtle--dark}";
		}
		
		:host-context(body.theme-@{value}) & {
			&.disabled {
				color: ~"@{md_theme-@{value}_disabled}";
			}
		}
	});
	
	&[dropper].hasClear {
		right: 24px;
	}
}

input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	font-family: @md_font_family;
	font-size: @md_font_subheading--size;
	line-height: @md_font_subheading--size;
	font-weight: @md_font_subheading--weight;
	
	box-sizing: border-box;
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
	border: 0;
	
	background: transparent;

	outline: none;
	
	each(@md_themes, {
		:host-context(body.theme-@{value}.theme-light) & {
			color: ~"@{md_theme-@{value}_body--text}";
	
			&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				color: ~"@{md_theme-@{value}_subtle}";
			}
			&::-moz-placeholder { /* Firefox 19+ */
				color: ~"@{md_theme-@{value}_subtle}";
			}
			&:-ms-input-placeholder { /* IE 10+ */
				color: ~"@{md_theme-@{value}_subtle}";
			}
			&:-moz-placeholder { /* Firefox 18- */
				color: ~"@{md_theme-@{value}_subtle}";
			}
		}
	
		:host-context(body.theme-@{value}.theme-dark) & {
			color: ~"@{md_theme-@{value}_body--text--invert}";
			
			&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				color: ~"@{md_theme-@{value}_subtle--dark}";
			}
			&::-moz-placeholder { /* Firefox 19+ */
				color: ~"@{md_theme-@{value}_subtle--dark}";
			}
			&:-ms-input-placeholder { /* IE 10+ */
				color: ~"@{md_theme-@{value}_subtle--dark}";
			}
			&:-moz-placeholder { /* Firefox 18- */
				color: ~"@{md_theme-@{value}_subtle--dark}";
			}
		}
		
		:host-context(body.theme-@{value}) & {
			caret-color: ~"@{theme-@{value}_primary}";
			
			&.hasError {
				caret-color: ~"@{theme-@{value}_error}";
			}
			
			&[disabled] {
				color: ~"@{md_theme-@{value}_disabled}";
				
				&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
					color: ~"@{md_theme-@{value}_disabled}";
				}
				&::-moz-placeholder { /* Firefox 19+ */
					color: ~"@{md_theme-@{value}_disabled}";
				}
				&:-ms-input-placeholder { /* IE 10+ */
					color: ~"@{md_theme-@{value}_disabled}";
				}
				&:-moz-placeholder { /* Firefox 18- */
					color: ~"@{md_theme-@{value}_disabled}";
				}
			}
		}
	});
	
	/* can't do any sizing in here as the browsers don't work reliably with heights and the like on native elements */
}
:host.rightAlign input {
	text-align: right;
}
:host.centerAlign input {
	text-align: center;
}

/* have to do these as multiples rather than in the above :( */

section[textbox] {
	display: block;
	border: 0;

	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: @text--height + @bottomgap--height;
	
	overflow: hidden;
	margin: 0;
	padding: 0;
}
section[container].hasHelper, section[container].hasError {
	section[textbox] {
		bottom: @label--height + @helper__gap--height;
	}
}

label {
	box-sizing: border-box;

	font-family: @md_font_family;
	font-size: @md_font_subheading--size;
	line-height: @md_font_subheading--size;
	font-weight: @md_font_caption--weight;

	each(@md_themes, {
		:host-context(body.theme-@{value}.theme-light) & {
			color: ~"@{md_theme-@{value}_subtle}";
		}

		:host-context(body.theme-@{value}.theme-dark) & {
			color: ~"@{md_theme-@{value}_subtle--dark}";
		}
	
		:host-context(body.theme-@{value}) & {
			&.focused {
				color: ~"@{theme-@{value}_primary}";
			}
			&.hasError {
				color: ~"@{theme-@{value}_error}";
			}
		}
	});

	position: absolute;
	left: 0;
	width: 100%;
	
	display: block;
	height: @label--height;
	
	&[placeholder] {
		opacity: 0;
		top: @label--height + @topgap--height;
	
		transition: opacity @speed--normal linear, top @speed--normal ease-in-out, font-size @speed--normal ease-in-out, line-height @speed--normal ease-in-out;
	
		&.visible {
			opacity: 1;
			
			font-size: @md_font_caption--size;
			line-height: @md_font_caption--size;
			
			top: 0;
		}
	}
	
	&[helper], &[error] {
		bottom: 0;
	
		font-size: @md_font_caption--size;
		line-height: @md_font_caption--size;
		
		each(@md_themes, {
			:host-context(body.theme-@{value}) & {
				&[error] {
					color: ~"@{theme-@{value}_error}";
				}
			}
		});
	}
}
:host.rightAlign label {
	text-align: right;
}
:host.centerAlign label {
	text-align: center;
}

aside[dropdown] {
	position: absolute;
	top: 0;
	right: 0;
}
:host.upwards aside[dropdown] {
	top: auto;
	bottom: 0;
}
