@charset 'utf-8';

@import (less) '../../less/common/fonts.less';
@import (less) '../../less/common/sizes.less';
@import (less) '../../less/common/palette.less';

:host {
	display: block;
	box-sizing: border-box;

	width: 100%;
	border: 0;
	margin: 0;
	padding: 0;
	
	border-style: solid;
	border-width: 1px;
	border-color: black;
	border-collapse: collapse;
	border-spacing: 0;
	border-radius: 4px;

	font-family: @md_font_family;

	::ng-deep tr {
		border-top-style: solid;
		border-top-width: 1px;
		
	}
	::ng-deep thead > tr:first-child {
		border-top: none;
	}

}

each(@md_themes, {
	:host-context(body.theme-@{value}.theme-light) & {
		border-color: ~"@{md_theme-@{value}_subtlerer}";
		color: ~"@{md_theme-@{value}_body--text}";
	}
	:host-context(body.theme-@{value}.theme-dark) & {
		border-color: ~"@{md_theme-@{value}_subtler--dark}";
		color: ~"@{md_theme-@{value}_body--text--invert}";
	}

	:host-context(body.theme-@{value}.theme-light) & ::ng-deep tr {
		border-top-color: ~"@{md_theme-@{value}_subtlerer}";
	}
	:host-context(body.theme-@{value}.theme-dark) & ::ng-deep tr {
		border-top-color: ~"@{md_theme-@{value}_subtler--dark}";
	}
});
