@charset 'utf-8';

@theme-darkred_primary: #d50000;
@theme-darkred_primary--light: #ff5131;
@theme-darkred_primary--dark: #9b0000;
@theme-darkred_primary--text: #ffffff;

@theme-darkred_secondary: #ffeb3b;
@theme-darkred_secondary--light: #ffff72;
@theme-darkred_secondary--dark: #c8b900;
@theme-darkred_secondary--text: #000000;

@theme-darkred_error: #e63322;
@theme-darkred_error--text: #ffffff;

@theme-darkred_success: #8bc34a;
@theme-darkred_success--text: #000000;

@theme-darkred_body--background: #212121;
@theme-darkred_hyperlink: #1857d6;
