<aside><ul *ngIf="this.set"
		[class]="'columns-' + this.maxColumns"
>
	<li row *ngFor="let row of this.keyboard.sets[this.set].keys">
		<ul>
			<li column *ngFor="let key of row"
					[class.filler]="!key"
					[class.span-2]="key && key.span === 2"
					[class.span-3]="key && key.span === 3"
					[class.span-4]="key && key.span === 4"
			>
				<commons-keyboard-key *ngIf="key"
						[key]="key"
						[setLabels]="this.setLabels()"
						[disabled]="this.isDisabled(key)"
						[disableThemeInvert]="this.disableThemeInvert"
						[maxColumns]="this.maxColumns"
						(onCharacter)="this.onCharacter.emit($event);"
						(onSet)="this.doChangeSet($event);"
						(onSpace)="this.onCharacter.emit(' ');"
						(onOk)="this.onOk.emit();"
						(onCancel)="this.onCancel.emit();"
						(onBackspace)="this.onBackspace.emit();"
				></commons-keyboard-key>
			</li>
		</ul>
	</li>
</ul></aside>