@charset 'utf-8';

@import (less) '../../less/common/fonts.less';
@import (less) '../../less/common/sizes.less';
@import (less) '../../less/common/palette.less';

@key--height: 43px;
@key--width--min: 25px;
@key--width--max: 60px;

.generate-columns-width(@n, @i: 0) when (@i < @n) {
	&.columns-@{i} {
		width: 100%;
		min-width: (@key--width--min * @i);
		max-width: (@key--width--max * @i);
		
		li[column] {
			width: ~'calc(100% / ' @i ~')';
			min-width: @key--width--min;
			max-width: @key--width--max;

			&.span-2 {
				width: ~'calc(200% / ' @i ~')';
				min-width: @key--width--min * 2;
				max-width: @key--width--max * 2;
			}
			&.span-3 {
				width: ~'calc(300% / ' @i ~')';
				min-width: @key--width--min * 3;
				max-width: @key--width--max * 3;
			}
			&.span-4 {
				width: ~'calc(400% / ' @i ~')';
				min-width: @key--width--min * 4;
				max-width: @key--width--max * 4;
			}
		}
	}
	.generate-columns-width(@n, (@i + 1));
}

aside {
	width: 100%;
	display: block;
	
	> ul {
		.generate-columns-width(21);
		
		margin: 0 auto;
	}
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;

	li[row] {
		clear: both;
		width: 100%;
		
		height: @key--height;
	}
	
	li[column] {
		float: left;

		&.filler {
			height: @key--height;
		}
	}
}
