@charset 'utf-8';

@import (less) '../../less/common/palette.less';
@import (less) '../../less/common/fonts.less';
@import (less) '../../less/common/sizes.less';
@import (less) '../../less/common/speed.less';

@height--collapsed: 48px;
@height--expanded: 64px;

:host {
	display: block;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

section {
	display: block;
	box-sizing: border-box;

	margin: 0;
	height: @height--collapsed;
	
	padding-top: ((@height--collapsed - (@md_font_body2--size * @md_text--lineheight)) / 2);

	&.expanded {
		height: @height--expanded;
		padding-top: ((@height--expanded - (@md_font_body2--size * @md_text--lineheight)) / 2);
	}
	
	transition: 
			height @speed--normal ease-in-out,
			padding-top @speed--normal ease-in-out;
}

label, span {
	display: inline-block;

	font-family: @md_font_family;
}

label {
	min-width: 100px;
	
	font-weight: @md_font_body2--weight;
	font-size: @md_font_body2--size;
	
	each(@md_themes, {
		:host-context(body.theme-@{value}.theme-light) & {
			color: ~"@{md_theme-@{value}_body--background--greyscale--invert}";
		}
		:host-context(body.theme-@{value}.theme-dark) & {
			color: ~"@{md_theme-@{value}_body--background--greyscale}";
		}
	});
}

span {
	font-weight: @md_font_body1--weight;
	font-size: @md_font_body1--size;
	
	each(@md_themes, {
		:host-context(body.theme-@{value}.theme-light) & {
			color: ~"@{md_theme-@{value}_subtle}";
		}
		:host-context(body.theme-@{value}.theme-dark) & {
			color: ~"@{md_theme-@{value}_subtle--dark}";
		}
	});
}

i {
	float: right;
	position: relative;
	top: -2px;
	
	each(@md_themes, {
		:host-context(body.theme-@{value}.theme-light) & {
			color: ~"@{md_theme-@{value}_subtle}";
		}
		:host-context(body.theme-@{value}.theme-dark) & {
			color: ~"@{md_theme-@{value}_subtle--dark}";
		}
	});
	
	transform: rotate(0);
	
	&.rotate {
		transform: rotate(180deg);
	}
	
	transition: transform @speed--normal ease-in-out;
}
