@charset 'utf-8';

@import (less) '../../less/common/palette.less';
@import (less) '../../less/common/fonts.less';
@import (less) '../../less/common/speed.less';

@height: 30px;
@height--medium: 30px;
@height--large: 30px;
@height--huge: 42px;
@track--height: 3px;
@track--height--medium: 4px;
@track--height--large: 6px;
@track--height--huge: 10px;

@thumb--diameter: 14px;
@thumb--diameter--medium: 20px;
@thumb--diameter--large: 30px;
@thumb--diameter--huge: 42px;

@pressed--padding: 10px;

@value--width--normal: 65px;
@value--width--compact: 40px;
@value--width--extended: 100px;

@label--width: 60px;

@text--height: @md_font_subheading--size + 5px;
@bottomgap--height: 8px;

section, aside {
	display: block;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

section[host] {
	position: relative;
	top: 0;
	left: 0;
	
	width: 100%;
	height: @height;
	margin: 10px 0;
}
:host.medium section[host] {
	height: @height--medium;
}
:host.large section[host] {
	height: @height--large;
}
:host.huge section[host] {
	height: @height--huge;
}

aside[slider] {
	width: 100%;
	height: inherit;
	position: absolute;
	top: 0;
	left: 0;
}
section[host].label aside[slider] {
	width: ~'calc(100% - ' (@label--width + 10) ~')';
	left: @label--width + 10;
}
section[host].showValue aside[slider],
section[host].editValue aside[slider] {
	width: ~'calc(100% - ' (@value--width--normal + 10) ~')';
}
:host.compact section[host].showValue aside[slider],
:host.compact section[host].editValue aside[slider] {
	width: ~'calc(100% - ' (@value--width--compact + 10) ~')';
}
:host.extended section[host].showValue aside[slider],
:host.extended section[host].editValue aside[slider] {
	width: ~'calc(100% - ' (@value--width--extended + 10) ~')';
}
section[host].label.showValue aside[slider],
section[host].label.editValue aside[slider] {
	width: ~'calc(100% - ' (@label--width + 10 + @value--width--normal + 10) ~')';
}
:host.compact section[host].label.showValue aside[slider],
:host.compact section[host].label.editValue aside[slider] {
	width: ~'calc(100% - ' (@label--width + 10 + @value--width--compact + 10) ~')';
}
:host.extended section[host].label.showValue aside[slider],
:host.extended section[host].label.editValue aside[slider] {
	width: ~'calc(100% - ' (@label--width + 10 + @value--width--extended + 10) ~')';
}

label {
	display: block;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	
	position: absolute;
	top: ((@height - @md_font_body2--size) / 2);
	left: 0;
	
	width: @label--width;
	height: @md_font_body2--size;

	font-family: @md_font_family;
	font-size: @md_font_body2--size;
	line-height: @md_font_body2--size;
	font-weight: md_font_body2--weight;
	overflow: hidden;
	text-overflow: ellipsis;
}
:host.large medium {
	top: ((@height--medium - @md_font_body2--size) / 2);
}
:host.large label {
	top: ((@height--large - @md_font_body2--size) / 2);
}
:host.huge label {
	top: ((@height--huge - @md_font_body2--size) / 2);
}

aside[bar] {
	position: absolute;
	top: ((@height - @track--height) / 2);
	left: (@thumb--diameter / 2);
	height: @track--height;

	width: ~'calc(100% - ' @thumb--diameter ~')';
	
	border-radius: (@track--height / 2);
	
	each(@md_themes, {
		:host-context(body.theme-@{value}) & {
			background-color: ~"@{md_theme-@{value}_subtler}";
		}
	});
	
	section[fill] {
		position: absolute;
		top: 0;
		left: 0;
		height: inherit;
		border-radius: inherit;

		each(@md_themes, {
			:host-context(body.theme-@{value}) & {
				background-color: ~"@{theme-@{value}_primary}";
			}
		});
	}
	
	aside[dragger] {
		position: absolute;
		top: (@track--height / 2);
		left: 0;
		
		width: @thumb--diameter;
		height: @thumb--diameter;
		border-radius: (@thumb--diameter / 2);
		
		margin: -(@thumb--diameter / 2) 0 0 -(@thumb--diameter / 2);

		each(@md_themes, {
			:host-context(body.theme-@{value}) & {
				background-color: ~"@{theme-@{value}_primary}";
			}
		});
		
		cursor: pointer;
		
		&.invalid {
			display: none;
		}
	}
	
	aside[pressed] {
		position: absolute;
		top: (@track--height / 2);
		left: 0;
		
		width: @thumb--diameter + (@pressed--padding * 2);
		height: @thumb--diameter + (@pressed--padding * 2);
		border-radius: ((@thumb--diameter + (@pressed--padding * 2)) / 2);
		
		margin: -((@thumb--diameter + (@pressed--padding * 2)) / 2) 0 0 -((@thumb--diameter + (@pressed--padding * 2)) / 2);

		each(@md_themes, {
			:host-context(body.theme-@{value}) & {
				background-color: ~"@{theme-@{value}_secondary}";
			}
		});
		
		cursor: pointer;

		opacity: 0;
		transition: opacity @speed--normal ease-in-out;
		
		&.active {
			opacity: 0.2;
		}
	}
}
:host.medium aside[bar] {
	height: @track--height--medium;
	width: ~'calc(100% - ' @thumb--diameter--medium ~')';
	border-radius: (@track--height--medium / 2);
	top: ((@height--medium - @track--height--medium) / 2);
	left: (@thumb--diameter--medium / 2);
	
	aside[dragger] {
		top: (@track--height--medium / 2);
		
		width: @thumb--diameter--medium;
		height: @thumb--diameter--medium;
		border-radius: (@thumb--diameter--medium / 2);

		margin: -(@thumb--diameter--medium / 2) 0 0 -(@thumb--diameter--medium / 2);
	}
	
	aside[pressed] {
		top: (@track--height--medium / 2);

		width: @thumb--diameter--medium + (@pressed--padding * 2);
		height: @thumb--diameter--medium + (@pressed--padding * 2);
		border-radius: ((@thumb--diameter--medium + (@pressed--padding * 2)) / 2);
		
		margin: -((@thumb--diameter--medium + (@pressed--padding * 2)) / 2) 0 0 -((@thumb--diameter--medium + (@pressed--padding * 2)) / 2);
	}
}
:host.large aside[bar] {
	height: @track--height--large;
	width: ~'calc(100% - ' @thumb--diameter--large ~')';
	border-radius: (@track--height--large / 2);
	top: ((@height--large - @track--height--large) / 2);
	left: (@thumb--diameter--large / 2);
	
	aside[dragger] {
		top: (@track--height--large / 2);
		
		width: @thumb--diameter--large;
		height: @thumb--diameter--large;
		border-radius: (@thumb--diameter--large / 2);

		margin: -(@thumb--diameter--large / 2) 0 0 -(@thumb--diameter--large / 2);
	}
	
	aside[pressed] {
		top: (@track--height--large / 2);

		width: @thumb--diameter--large + (@pressed--padding * 2);
		height: @thumb--diameter--large + (@pressed--padding * 2);
		border-radius: ((@thumb--diameter--large + (@pressed--padding * 2)) / 2);
		
		margin: -((@thumb--diameter--large + (@pressed--padding * 2)) / 2) 0 0 -((@thumb--diameter--large + (@pressed--padding * 2)) / 2);
	}
}
:host.huge aside[bar] {
	height: @track--height--huge;
	width: ~'calc(100% - ' @thumb--diameter--huge ~')';
	border-radius: (@track--height--huge / 2);
	top: ((@height--huge - @track--height--huge) / 2);
	left: (@thumb--diameter--huge / 2);
	
	aside[dragger] {
		top: (@track--height--huge / 2);
		
		width: @thumb--diameter--huge;
		height: @thumb--diameter--huge;
		border-radius: (@thumb--diameter--huge / 2);

		margin: -(@thumb--diameter--huge / 2) 0 0 -(@thumb--diameter--huge / 2);
	}
	
	aside[pressed] {
		top: (@track--height--huge / 2);

		width: @thumb--diameter--huge + (@pressed--padding * 2);
		height: @thumb--diameter--huge + (@pressed--padding * 2);
		border-radius: ((@thumb--diameter--huge + (@pressed--padding * 2)) / 2);
		
		margin: -((@thumb--diameter--huge + (@pressed--padding * 2)) / 2) 0 0 -((@thumb--diameter--huge + (@pressed--padding * 2)) / 2);
	}
}
section[host].disabled {
	aside[bar] {
		each(@md_themes, {
			:host-context(body.theme-@{value}) & {
				background-color: ~"@{md_theme-@{value}_disabled}";
			}
		});
	
		section[fill] {
			opacity: 0;
		}
	}

	aside[dragger] {
		each(@md_themes, {
			:host-context(body.theme-@{value}) & {
				background-color: ~"@{md_theme-@{value}_disabled}";
				border: 2px solid ~"@{theme-@{value}_body--background}";
			}
		});
	}
}

aside[value] {
	position: absolute;
	top: 0;
	right: 0;
	
	width: @value--width--normal;
	height: @text--height + @bottomgap--height;
	padding-top: 8px;
	
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: right;

	each(@md_themes, {
		:host-context(body.theme-@{value}) & {
			color: ~"@{md_theme-@{value}_body--text}";
		}
	});

	font-family: @md_font_family;
	font-size: @md_font_body2--size;
	line-height: @md_font_body2--size;
	font-weight: @md_font_body2--weight;
	text-transform: uppercase;
}
:host.compact aside[value] {
	width: @value--width--compact;
}
:host.extended aside[value] {
	width: @value--width--extended;
}
:host.large aside[value] {
	padding-top: 9px;
}
:host.huge aside[value] {
	padding-top: 14px;
}

aside[edit] {
	position: absolute;
	top: 0;
	right: 0;
	
	width: @value--width--normal;
	height: @text--height + @bottomgap--height;
	
	overflow: hidden;

	input {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	
		font-family: @md_font_family;
		font-size: @md_font_subheading--size;
		line-height: @md_font_subheading--size;
		font-weight: @md_font_subheading--weight;
		
		text-align: right;
		
		box-sizing: border-box;
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		margin: 0;
		padding: 0;
		width: 100%;
		border: 0;
		
		each(@md_themes, {
			:host-context(body.theme-@{value}) & {
				background: ~"@{theme-@{value}_body--background}";
				color: ~"@{md_theme-@{value}_body--text}";
			}
		});
				
		outline: none;
		
		&[disabled] {
			each(@md_themes, {
				:host-context(body.theme-@{value}) & {
					color: ~"@{md_theme-@{value}_disabled}";
				}
			});
		}
	}
	
	aside[underline] {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		
		height: 1px;
	
		each(@md_themes, {
			:host-context(body.theme-@{value}) & {
				border-bottom: 1px solid ~"@{md_theme-@{value}_subtle}";
				
				&.disabled {
					border-bottom: 1px dashed ~"@{md_theme-@{value}_disabled}";
				}
				&.focused {
					border-bottom: 2px solid ~"@{theme-@{value}_primary}";
				}
			}
		});
	}
}
:host.compact aside[edit] {
	width: @value--width--compact;
}
:host.extended aside[edit] {
	width: @value--width--extended;
}
:host.huge aside[edit] {
	top: 7px;
}
