<section host
		[class.percent]="this.type === ECommonsSliderType.PERCENTAGE"
		[class.numeric]="this.type === ECommonsSliderType.NUMERIC"
		[class.values]="this.type === ECommonsSliderType.VALUES"
		[class.label]="this.label"
		[class.showValue]="this.showValue"
		[class.editValue]="this.editValue"
		[class.disabled]="this.disabled"
>
	<label *ngIf="this.label">{{this.label}}</label>
	<aside slider>
		<aside bar #barElement
				(click)="this.doJump($event);"
		>
			<aside pressed #pressedElement
					[style.left]="this.getCSSPosition()"
					[class.active]="this.active && !this.invalid"
			></aside>
			<section fill
					[style.width]="this.getCSSPosition()"
			></section>
			<aside dragger #draggerElement
				[class.invalid]="this.invalid"
				[style.left]="this.getCSSPosition()"
				(click)="this.doClick();"
				(panstart)="this.doPanStart($event);"
				(panmove)="this.doPanMove($event);"
				(panend)="this.doPanEnd($event);"
			></aside>
		</aside>
	</aside>
	<aside value #valueElement *ngIf="this.showValue && this.value !== undefined">
		<ng-container *ngIf="this.type === ECommonsSliderType.NUMERIC">{{this.value | commonsPrettyInteger:true }}</ng-container>
		<ng-container *ngIf="this.type === ECommonsSliderType.VALUES">{{this.value}}</ng-container>
		<ng-container *ngIf="this.type === ECommonsSliderType.PERCENTAGE">{{this.value | commonsPrettyPercentage:true:true }}</ng-container>
	</aside>
	<aside edit #editElement *ngIf="this.editValue">
		<input #textbox
				[type]="'number'"
				[min]="this.min || 0"
				[max]="this.max"
				[disabled]="this.disabled"
				[(ngModel)]="this.value"
				(ngModelChange)="this.doEdit();"
				(focus)="this.doFocus(true);"
				(focusout)="this.doFocus(false);"
		><aside underline
				[class.disabled]="this.disabled"
				[class.focused]="this.focused"
		></aside>
	</aside>
</section>
