<section
		(click)="this.moveEnd();"
><span class="pre"><span *ngFor="let c of this.preCharacters; let i = index"
		(click)="this.movePre(i, $event);"
>{{c}}</span></span><span class="post"><span *ngFor="let c of this.postCharacters; let i = index"
		(click)="this.movePost(i, $event);"
>{{c}}</span></span></section>