@charset 'utf-8';

@import (less) '../../less/common/fonts.less';
@import (less) '../../less/common/sizes.less';
@import (less) '../../less/common/palette.less';

@padding--top: 15px;

section {
	font-family: @md_font_family;
	font-weight: @md_font_subheading--weight;
	font-size: @md_font_subheading--size;
	line-height: @md_font_subheading--size;

	white-space: pre;
	
	margin: 0;
	
	height: @md_font_subheading--size + (@padding--top * 2);
	box-sizing: border-box;
	
	padding: @padding--top 10px;
	
	each(@md_themes, {
		:host-context(body.theme-@{value}) & {
			background-color: ~"@{theme-@{value}_body--background}";
			color: ~"@{md_theme-@{value}_body--text}";
			
			> span.pre {
				border-right: 2px solid ~"@{theme-@{value}_secondary}";
				margin-right: -2px;
			}
			
			> span > span {
				padding-left: 1px;
			}
		}
	});
}
